<style>
    .col {
        min-width: 20vw;
    }
    @media only screen and (max-width: 900px) {
        .col {
            min-width: 300px;
        }
    }
</style>
<div id="View row" style="width:100%">
    <div data-collection="Items" class="row">
        <div class="col">
            <div class="card-box tilebox-one">
                <h6 class="text-muted m-b-20" data-name="Title"></h6>
                <div data-name="Message" style="padding-bottom: 10px; padding-top: 20px; text-align: left;">
                </div>
                <a href="" data-name="EmailAddress"></a>
            </div>
        </div>
    </div>
    <div data-unless="Items" class="text-center">
        <h1 style="font-size: 4.0em"><span class="zmdi zmdi-airline-seat-flat"></span></h1>
        <h2>
            There is currently no user feedback.
        </h2>
    </div>

</div>
