@{
    ViewBag.Title = "Application is deleted";
}


<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2>Application</h2>
            <div class="panel panel-body panel-success">The application has been deleted.</div>
        </div>
    </div>
</div>