<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Coderr</title>
    <base href="~/" />
    <link rel="stylesheet" href="~/dist/css/bootstrap-coderr.css" />
    <link rel="stylesheet" href="~/dist/css/site.css" />
    <link rel="stylesheet" href="~/dist/css/common.css" />
    <link href="~/css/fontawesome-all.min.css" rel="stylesheet">
    <link href="~/css/toastr.min.css" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="~/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/favicon-16x16.png">
    <link rel="manifest" href="~/site.webmanifest">
    <link rel="mask-icon" href="~/safari-pinned-tab.svg" color="#59c1d5">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <script src="~/coderr/js/"></script>
</head>
<body>
    @RenderBody()

    <div class="modal fade" style="display: none" id="modalTemplate" tabindex="-1" role="dialog" aria-labelledby="modalTemplateLabel" aria-hidden="true">
        <form>
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalTemplateLabel">modalTemplateName</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                    </div>
                    <div class="modal-footer">
                        <div style="margin-right: auto">
                            <span data-name="hint"></span>
                        </div>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <script src="~/dist/vendor.js" asp-append-version="true"></script>
    @RenderSection("scripts", required: false)
    <script src="~/coderr/js/"></script>
</body>
</html>
