<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Coderr</title>
    <base href="~/" />

    <link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css" asp-append-version="true" />
    <link href="~/css/fontawesome-all.min.css" rel="stylesheet">
    <link href="~/css/toastr.min.css" rel="stylesheet">
    <environment exclude="Development">
        <link rel="stylesheet" href="~/dist/site.css" asp-append-version="true" />
    </environment>
</head>
<body>
    @RenderBody()

    <div class="modal fade" style="display: none" id="modalTemplate" tabindex="-1" role="dialog" aria-labelledby="modalTemplateLabel" aria-hidden="true">
        <form>
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalTemplateLabel">modalTemplateName</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                    </div>
                    <div class="modal-footer">
                        <span data-name="hint"></span>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.js"></script>
    <script src="http://vue-charts.hchspersonal.tk/js/vue-charts.js"></script>
    <script src="~/dist/vendor.js" asp-append-version="true"></script>
    @*<script src="~/js/bootstrap-notify.min.js"></script>*@
    @RenderSection("scripts", required: false)
</body>
</html>
