@import "../../../styles/_partials/coderr-variables.scss";
@import "../../../styles/_partials/_mixins.scss";

.application-view {
  max-width: 100%;
  display: block;
  margin: 0;

  h3 {
    color: white;
    @include text-shadow-1;
  }

  .fill {
    background: white;
    padding: 10px;
    border-radius: 2px;
    @include box-shadow-1;

    th {
      text-align: right;
    }
  }

  pre {
    background-color: transparent;
    overflow: hidden;
    word-wrap: normal;
    white-space: pre;
    position: relative;

    > code {
      background-color: transparent;
    }
  }

  pre:hover {
    overflow: auto;
  }

  select {
    padding: 4px;
    background-color: $light;
    border: 1px solid darken($light, 10px);
    border-radius: 5px;
  }

  table tbody th {
      min-width: 200px;
  }
}
