<?xml version="1.0" encoding="utf-8"?>

<log4net>

  <appender name="StandardAppender" type="log4net.Appender.RollingFileAppender">
    <file value="c:\logs\Coderr.Web.log" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <PreserveLogFileNameExtension value="true" />
    <datePattern value="yyyy-MM-dd" />
    <filter type="log4net.Filter.LoggerMatchFilter">
      <loggerToMatch value="Coderr.Server.ReportAnalyzer" />
      <acceptOnMatch value="false" />
    </filter>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger %message%newline" />
    </layout>
  </appender>
  <appender name="ReportAnalyzerAppender" type="log4net.Appender.RollingFileAppender">
    <file value="c:\logs\Coderr.ReportAnalyzer.log" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <PreserveLogFileNameExtension value="true" />
    <datePattern value="yyyy-MM-dd" />
    <filter type="log4net.Filter.LoggerMatchFilter">
      <loggerToMatch value="Coderr.Server.ReportAnalyzer" />
      <acceptOnMatch value="true" />
    </filter>
    <filter type="log4net.Filter.DenyAllFilter" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger %message%newline" />
    </layout>
  </appender>

  <appender name="ErrorAppender" type="log4net.Appender.RollingFileAppender">
    <file value="c:\logs\Coderr.Web.Errors.log" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <PreserveLogFileNameExtension value="true" />
    <datePattern value="yyyy-MM-dd" />
    <filter type="log4net.Filter.LevelRangeFilter">
      <param name="LevelMin" value="WARN"/>
      <param name="LevelMax" value="ERROR"/>
    </filter>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] – %message%newline" />
    </layout>
  </appender>

  <root>
    <level value="ALL" />
    <appender-ref ref="StandardAppender" />
    <appender-ref ref="ReportAnalyzerAppender" />
    <appender-ref ref="ErrorAppender" />
  </root>
</log4net>