@import "../../../../styles/_partials/coderr-variables.scss";

.pills {
  display: flex;
  flex: 0 0 1fr;
}

.pill {
  background: $blue;
  border-radius: 3px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
