<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="oneTrueError"
                  type="OneTrueError.Infrastructure.Configuration.ConfigFile.OneTrueErrorConfigurationSection, OneTrueError.App"/>

  </configSections>
  <appSettings>
    <add key="DemoCategory.Name" value="Yo!" />
  </appSettings>
  <oneTrueError>
    <section name="DemoCategory">
      <item key="Name" value="Yo!"/>
    </section>
  </oneTrueError>
</configuration>