<template>
    <div class="mt-4">
        <form @submit.prevent="saveKey">
            <div class="row">
                <div class="col-md-12">
                    <h3>
                        Edit api key
                    </h3>

                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header">
                            Settings
                        </div>
                        <div class="card-body">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>
                                            Name
                                        </td>
                                        <td>
                                            <input class="form-control" type="text" v-model="forApplicationName" required="required" autofocus="autofocus" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            ApiKey
                                        </td>
                                        <td>
                                            <input class="form-control" type="text" v-model="key" required="required" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            SharedSecret
                                        </td>
                                        <td>
                                            <input class="form-control" type="text" v-model="sharedSecret" required="required" />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header">
                            Allowed applications
                        </div>
                        <div class="card-body">
                            <div v-for="item in availableApplications">
                                <input type="checkbox" :id="'app' + item.id" :value="item.id" :checked="isChecked(item.id)" v-model="applications" />
                                <label :for="'app' + item.id">
                                    {{item.name}}
                                </label>
                            </div>
                            <div class="mt-2">
                                <em>The api key is allowed to modify the following applications. (an empty list = all applications)</em>
                            </div>

                            <hr />
                            <em>You can use the <code>Coderr.Server.Api.Client</code> assembly to communicate using this key.</em>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-blue ">Save</button>
                    <button class="btn btn-danger" v-on:click.prevent="deleteKey">Delete</button>
                </div>
            </div>
        </form>
    </div>
</template>


<style src="./apikey-edit.css"></style>
<script src="./apikey-edit.ts"></script>