<template>
    <div class="mt-4">
        <div class="row" id="wl-main">
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-header">
                        Whitelisted domains
                        <div class="float-right">
                            <router-link class="btn-sm btn btn-blue" :to="{name: 'addWhitelistedDomain' }">Add domain</router-link>
                        </div>
                    </div>
                    <div class="card-body">
                        <p>
                            <em>
                                To make sure that no fake error reports are processed by Coderr, a shared secret is required to be able sign reports. But for browser applications
                                you don't want to include the shared secret as anyone could see and use it. Instead, we allow reporting without a shared secret as long as you whitelist domains.
                            </em>
                        </p>
                        <table class="text-left table mb-3 transparent" v-if="entries.length > 0">
                            <thead>
                                <tr>
                                    <th>Domain</th>
                                    <th>Application(s)</th>
                                    <th>Ip address(es)</th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="entry in entries">
                                    <td class="text-left">
                                        {{entry.domainName}}
                                    </td>
                                    <td class="text-left">
                                        <span v-for="app in entry.apps">
                                            {{app.name}}<br />
                                        </span>
                                    </td>
                                    <td class="text-left">
                                        <span v-for="ip in entry.ips">
                                            {{ip.value}} <i :class="'text-blue small fa ' + ip.icon" :title="ip.tooltip"></i><br />
                                        </span>
                                    </td>
                                    <td>
                                        <router-link :to="{name: 'editWhitelistedDomain', params: { id: entry.id.toString() }}"><i class="fa fa-edit text-red"></i></router-link>
                                        <a href="#" @click.prevent="removeEntry(entry)"><i class="fa fa-trash text-red"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div v-if="entries.length == 0">
                            <hr />
                            <em><strong>All reports without a shared secret are blocked (add entries to allow reports without using a shared secret).</strong></em>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>


<style src="./home.css"></style>
<script src="./home.ts"></script>