<template>
    <div class="mt-4">
        <div class="row">
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-header">
                        Whitelisted domains
                        <div class="float-right">
                            <router-link class="btn-sm btn btn-outline-primary text-blue" :to="{ name: 'createEntry' }">Add domain</router-link>
                        </div>
                    </div>
                    <div class="card-body">
                        <table class="table mb-3 transparent" v-if="entries.length > 0">
                            <thead>
                                <tr>
                                    <th>Domain</th>
                                    <th>Application</th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="key in keys">
                                    <td>
                                        {{key.ApplicationName}}
                                    </td>
                                    <td>
                                        {{key.ApiKey}}
                                    </td>
                                    <td>
                                        <router-link :to="{name: 'manageApiKey', params: { apiKey: key.Id.toString() }}"><i class="fa fa-info-circle"></i></router-link>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div v-if="entries.length == 0">
                            <em>No domains have been whitelisted.</em>
                            <hr />
                        </div>
                        <p>
                            <em>To make sure that no fake error reports are processed by Coderr, a shared secret are required to sign reports. But for browser applications
                                you don't want to include the shared secret as anyone could then see and use it.</em>
                        </p>
                        <p>
                            <em>Instead, we allow reporting without a shared secret as long as you whitelist the domains.</em>
                        </p>



                    </div>
                </div>
            </div>
        </div>
    </div>
</template>


<style src="./home.css"></style>
<script src="./home.ts"></script>