<template>
    <div class="mt-4">
        <div class="row" v-if="!applicationId">
            <div class="col-lg-12">
                <h1>Application not selected</h1>
                <div>
                    This feature requires that you have selected an application in the top left menu.
                </div>
            </div>
        </div>
        <div v-if="applicationId > 0">
            <div class="row">
                <div class="col">
                    <h1>Release information, {{version}}</h1>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-header">New incidents</div>
                        <div class="card-body">
                            <table class="w-100">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Created</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="incident in newIncidents">
                                        <td>{{incident.IncidentName}}</td>
                                        <td>{{incident.CreatedAtUtc|niceTime}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div v-if="newIncidents.length == 0">
                                <em>No new incidents were detected in this release. Awesome!</em>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-header">Re-opened incidents</div>
                        <div class="card-body">
                            <table v-if="reOpenedIncidents.length > 0">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Created</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="incident in reOpenedIncidents">
                                        <td>{{incident.IncidentName}}</td>
                                        <td>{{incident.CreatedAtUtc|niceTime}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div v-if="reOpenedIncidents.length == 0">
                                <em>No incidents were re-opened in this release. Awesome!</em>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-header">Closed incidents</div>
                        <div class="card-body">
                            <table v-if="closedIncidents.length > 0">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Created</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="incident in closedIncidents">
                                        <td>{{incident.IncidentName}}</td>
                                        <td>{{incident.CreatedAtUtc|niceTime}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div v-if="closedIncidents.length == 0">
                                <em>No incidents were solved in this release.</em>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>


<style src="./summary.css" />
<script src="./summary.ts"></script>