<template>
    <div class="">
        <div class="row">
            <div class="col-lg-8 environments">
                <div class="card">
                    <div class="card-header">
                        Application environments for {{applicationName}}
                    </div>
                    <div class="card-body">
                        <div class="mt-3">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Delete reports</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="environment in environments">
                                        <td>{{environment.name}}</td>
                                        <td>{{environment.deleteIncidents?'Yes':'No'}}</td>
                                        <th><button class="btn btn-sm btn-light" @click.prevent="toggleEnvironment(environment)">{{environment.toggleText}}</button></th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div v-if="environments.length == 0">
                            <p><em>No environments have been specified in reports.</em></p>
                            <p>
                                <em>Specify environments using <code>Err.Configuration.EnvironmentName</code> in the client library.</em>
                            </p>
                            <p>
                                <em><a href="https://coderr.io/documentation/features/incidents/environments/" style="text-decoration: underline">Learn how to specify the environment (like "Production", "Test", "Staging" etc)</a></em>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-header">Add environment</div>
                    <div class="card-body">
                        <p><em>Add a new environment</em></p>
                        <form @submit.prevent="createEnvironment()">
                            <div class="form-group">
                                <label>
                                    Environment name
                                </label>
                                <input type="text" class="form-control" v-model="newName" placeholder="Environment name" />
                                <em class="text-muted">As specified in the client library.</em>


                            </div>
                            <div class="form-group">
                                <input type="checkbox" class="form-check-inline" v-model="newDeleteIncidents" value="true" />
                                <label>
                                    Delete incidents
                                </label>
                                <br/>
                                <em class="text-muted">Do not track errors in for instance development environment.</em>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-blue">Save</button>
                            </div>

                        </form>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">Reset environment</div>
                    <div class="card-body">
                        <p><em>Will delete all incidents and error reports that have been received in a specific environment.</em></p>
                        <form v-if="environments.length > 0" v-on:submit.prevent="resetEnvironment()">
                            <div class="form-group">
                                <select name="envId" v-model="selectedResetEnvironment">
                                    <option v-for="env in environments" :value="env.id">
                                        {{env.name}}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-red">Reset</button>
                            </div>

                        </form>
                        <div v-if="environments.length == 0" class="text-blue">
                            <em>(No environments have been received in reports)</em>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>


<style src="./environments.css"></style>
<script src="./environments.ts"></script>