@{
    ViewBag.Title = "Invitation not found";
}


<div class="row">
    <div class="col-sm-pull-12">
        <h1>Invitation not found</h1>
        <p>The invitation key was not found in our database.</p>
        <p>
            Ask the inviter to send a new invitation.
        </p>
    </div>
</div>