@{
    ViewBag.Title = "Privacy policy";
}
<h1>Privacy policy</h1>

<p>We DO NOT share, sell, rent, or trade Personally Identifiable Information with third parties except as disclosed within this privacy statement.</p>

<p>OneTrueError is a product of Gauffin Interactive AB.</p>

<h2>Collected data</h2>

<p>When you register to use www.onetrueerror.com, we (Gauffin Interactive AB.) collect very basic information including but not limited to: email and name. For the paid accounts, we ask for more information including but not limited to your address. This personal information is private, we will not share it.</p>

<p>After registering with the site, we use your email address to provide you with a series of 'Ongoing Communications and Product Updates' (see 'Communication from the Site'). These communications are used to give you a better understanding of the site, what it offers, and how it is best utilized. As always, you have the option not to receive these types of communications (see 'Choice and Opt-out').</p>

<h2>How we use the data collected</h2>

<p>We reserve the right to contact you, regarding your account or any other matter regarding your use of OneTrueError products. With your authorization, we may use some information collected from you to help diagnose technical error, and improve the quality and types of services delivered. We may use and share non-identifiable aggregated usage and statistical information. We may also share information with third parties in limited circumstances including when complying with legal processes, preventing fraud or imminent harm, ensuring security of network and services and due to violation of the terms of service.</p>

<p>We collect billing information from you for the purpose of processing your monthly subscription. We do not store credit card information in our site. We use a third party billing service where the credit card information is stored. Instead we store a token representing the monthly subscription ande use it for the billing.</p>

<h2>Note for European Visitors</h2>

<p>Please note that OneTrueError may transfer collected information outside the European Economic Area. By using our web site and providing us with your personal data, you consent to such transfer of your personal data.</p>

<h2>Cookies</h2>

<p>Cookies are required when using OneTrueError. We use cookies to identify unique visitors, provide per-user customization, and to make OneTrueError easier to use. We don't share our cookies, nor do we use cookies to track your behavior on other sites.</p>

<h2>Third Party Cookies</h2>

<p>The use of cookies by our [partners, affiliates, tracking utility company, service providers] is/is not covered by our privacy statement. We do/do not have access or control over these cookies. Our [partners, affiliates, tracking utility company, service providers] use session ID cookies [to make it easier for you to navigate our site, in order for you to manage the billing, etc.]</p>

<h2>Clear Gifs</h2>

<p>We use clear gifs in our HTML-based emails to let us know which emails have been opened by recipients. This allows us to gauge the effectiveness of certain communications and the effectiveness of our marketing campaigns. If you would like to opt-out of these emails, please see 'Choice and Opt-out'.</p>

<h2>Ongoing Communication and Product Updates</h2>

<p>We will occasionally send you information on product enhancements, new services, and additional instruction on utilizing our services. These communications are designed to educate our users on the services offered. Out of respect for your privacy, we present the option not to receive these types of communications. Please see the 'Choice and Opt-out'.</p>

<h2>Service-related Announcements</h2>

<p>We will send you service-related announcements when it is necessary to do so. For instance, if our service is temporarily suspended for maintenance, we might send you an email. Service-related emails are also sent confirming billing transactions, account upgrades, and account cancellations.</p>

<p>Generally, you may not opt-out of these communications, which are not promotional in nature. If you do not wish to receive them, you have the option to cancel your account. In order to cancel a premium (non-free) subscription with OneTrueError, please see: How to Cancel my Subscription. In order to delete your OneTrueError account altogether, please send an email to support@onetrueerror.com and Gauffin Interactive support staff will process your request.</p>

<h2>Customer Service</h2>

<p>Based upon the personally identifiable information you provide us, we will send you a welcoming email to verify your username and password as well an account manager contact information. We will also communicate with you in response to your inquiries, to provide the services you request, and to manage your account.</p>


<h2>Customer Testimonials</h2>

<p>We post customer testimonials/comments/reviews on our web site which may contain personally identifiable information. We do obtain the customer's consent via email prior to posting the testimonial to post their name along with their testimonial.</p>

<h2>Choice/Opt-out</h2>

<p>If you no longer wish to receive our product updates, you may opt-out of receiving them by following the instructions included in each product update email.</p>

<h2>What you can do</h2>

<p>Your data (personally identifiable information) is yours; you can delete or export it at anytime. If you'd like your account to be deleted, please do send us an email at support@onetrueerror.com. We may for a time, maintain a residual copy of your data in our backups.</p>

<h2>Information Obtained from Third Parties</h2>

<p>If you provide us personal information about others, or if others give us your information, we will only use that information for the specific reason for which it was provided to us.</p>

<h2>Security</h2>

<p>OneTrueError.com servers are protected with generally available security technologies, including firewalls and data encryption. These technologies are designed to prevent unauthorized access, but no guarantee can be made that your information and data will be secure from intrusions and unauthorized released to third parties.</p>

<p>The security of your personal information is important to us. When you enter sensitive information (such as credit card number and/or social security number, national ID, personal health information) on our registration or order forms, we encrypt that information using secure socket layer technology (SSL).</p>

<h2>Contact</h2>

<p>Any questions regarding this policy should be addressed to support@onetrueerror.com. If a question comes up not covered by this policy, we will answer it remembering that your data belongs to you. If you'd like to send us snail mail, please visit our contact page for the best address to send to. These policies are effective as of February 9, 2014.</p>

<h2>Notification of Privacy Statement Changes</h2>

<p>Gauffin Interactive may update this privacy statement to reflect changes to our information practices. If we make any material changes we will notify you by email (sent to the e-mail address specified in your account) or by means of a notice on this Site prior to the change becoming effective. We encourage you to periodically review this page for the latest information on our privacy practices. The policies outlined in this document are not intended to and do not create any contractual or other legal rights in or on behalf of any party.</p>

<h2>Contact Information</h2>
<pre>
Gauffin Interactive AB

Phone: +46706930821
Email: support@onetrueerror.com

Address:

Gauffin Interactive AB
Jakob Ingelssons väg 8
79176 Falun
Sweden
</pre>