@model OneTrueError.Web.Models.Account.RequestPasswordResetViewModel

@{
    ViewBag.Title = "Request password reset";
}


@using (Html.BeginForm("RequestPasswordReset", "Account", FormMethod.Post, new {@class = "form-horizontal"}))
{
    @Html.AntiForgeryToken()

    <fieldset>
        <legend>Reset password</legend>
        <p>
            Specify your email address to get a password reset instruction sent to your inbox.
        </p>
        @Html.ValidationSummary(true)

        <div class="form-group">
            <label class="control-label col-sm-2" for="EmailAddress">Email</label>
            <div class="col-sm-10">
                <input type="text" id="Username" placeholder="Email" name="EmailAddress" class="form-control">
                @Html.ValidationMessageFor(model => model.EmailAddress)
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">Reset password</button>
                @Html.ActionLink("Login", "Login", null, new {@class = "btn"})

            </div>

        </div>

    </fieldset>
}

@section ViewModelScripts
{
}