*.doc  diff=astextplain
*.DOC	diff=astextplain
*.docx	diff=astextplain
*.DOCX	diff=astextplain
*.dot	diff=astextplain
*.DOT	diff=astextplain
*.pdf	diff=astextplain
*.PDF	diff=astextplain
*.rtf	diff=astextplain
*.RTF	diff=astextplain

*.jpg  	binary
*.png 	binary
*.gif 	binary

*.cs text=auto diff=csharp eol=crlf
*.vb text=auto eol=crlf
*.resx text=auto
*.html text=auto
*.htm text=auto
*.css text=auto
*.scss text=auto
*.sass text=auto
*.less text=auto
*.js text=auto
*.sql text=auto eol=crlf

*.csproj text=auto eol=crlf
*.vbproj text=auto eol=crlf
*.fsproj text=auto eol=crlf
*.dbproj text=auto eol=crlf
*.sln text=auto eol=crlf

*.sh eol=lf
