<div class="p-10 starter">

  <div *ngIf="noApps">
    <div class="col mb-2 mt-5">
      <h2 class="text-white text-shadow-1">Getting started</h2>
      <p class="lead">
        You are not a member of any applications in Coderr yet. Ask your administrator to get invited.
      </p>
    </div>
  </div>

  <div class="row" *ngIf="applications.length > 0">
    <div class="col fill f-grow">
      <h2 class="text-shadow-1 text-muted pointer" style="display: inline;" (click)="setPane('applications')" [ngClass]="{'active': activePane === 'applications'}">Applications</h2>
      &nbsp;
      <h2 id="myErrors" class="text-shadow-1 text-muted pointer" style="display: inline;" (click)="setPane('my-errors')" [ngClass]="{'active': activePane === 'my-errors'}">My errors</h2>
    </div>

    <div class="col form" style="text-align: right" *ngIf="activePane === 'applications'">
      <a id="new-application" class="btn white" (click)="createApplication()"><i class="fa fa-plus"></i> New application</a> <br />
      <div class="mt-3">
        <input type="text" class="form-control" id="appFilter" placeholder="Filter applications.." (keyup)="filter($event)" style="margin-top: 10px; width: 200px;" />
        <a href="#" id="appGroups" class="btn white small m-1" title="Show application groups" (click)="showGroups();false"><i class="fa fa-object-group"></i></a>
        <br /><em class="text-light" *ngIf="selectedGroup">(filtered on {{selectedGroup.name}})</em>
      </div>
    </div>
  </div>

  <div class="applications" *ngIf="activePane === 'applications'">
    <div class="row">
      <div class="col" *ngIf="applications.length === 0 && !noApps">No applications match your filter.</div>
      <div class="col fb-300px" *ngFor="let app of applications">
        <div class="panel">
          <h3 [data-id]="app.id"><a [routerLink]="['/application', app.id]" style="color: #fff">{{app.name}}</a></h3>
          <div [id]="toId(app.name)" class="fill">
            <div class="f-grow">
              <table class="facts">
                <tr>
                  <th>Errors</th>
                  <td>
                    {{app.errors}}
                    <span *ngIf="app.errors > 0" class="text-muted">(latest {{app.latestError|ago}})</span>
                  </td>
                </tr>
                <tr>
                  <th>Reports</th>
                  <td>
                    {{app.reports}}
                    <span *ngIf="app.reports > 0" class="text-muted">(latest {{app.latestReport|ago}})</span>
                  </td>
                </tr>
                <tr>
                  <th>Affected users</th>
                  <td>{{app.ReportCount}}0</td>
                </tr>
                <tr>
                  <th>Users waiting</th>
                  <td>{{app.followers}}</td>
                </tr>
                <tr>
                  <th>Bug reports</th>
                  <td>{{app.bugReports}}</td>
                </tr>
              </table>
            </div>
            <div style="display: flex; padding: 5px; margin-left: auto">
              <a [routerLink]="['application', app.id]" href="" class="home btn red small" title="Home"><i class="fa fa-home"></i></a>
              <a [routerLink]="['application', app.id, 'errors']" href="" class="btn red small" title="New errors"><i class="fa fa-bug"></i></a>
              <a [routerLink]="['application', app.id, 'mine']" href="" class="btn red small" title="My errors"><i class="fa fa-flask"></i></a>
              <a [routerLink]="['application', app.id, 'insights']" href="" class="btn red small" title="Insights"><i class="text-white fa fa-chart-line"></i></a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="activePane === 'my-errors'">
    <incident-stubs itemType="Mine"></incident-stubs>
  </div>
</div>

<guide name="appFilter" *ngIf="activePane === 'applications'">
  <h1>Filter</h1>
  <div>
    <p>Once you've added a couple of applications, filter them to quickly find the application that you want to work with.</p>
  </div>
</guide>
<guide name="appGroups" *ngIf="activePane === 'applications'">
  <h1>Application groups</h1>
  <div>
    <p>Groups are used to categorize applications and manage permissions on a higher level.</p>
  </div>
</guide>
<guide name="myErrors" *ngIf="activePane === 'applications'">
  <h1>My errors</h1>
  <div>
    <p>Once you've started to work with some errors, you can find them here.</p>
  </div>
</guide>


<modal id="newAppModal">
  <div class="panel">
    <h3>Add application</h3>
    <div class="fill">
      <app-create (closed)="closeCreateAppModal()"></app-create>
    </div>
  </div>
</modal>
<modal id="groupFilter">
  <div class="panel">
    <h3>Select group to filter on</h3>
    <div class="fill">
      <div class="row">
        <div class="col">
          <p>Application groups are used to logically group applications into smaller lists.</p>
        </div>
        <div class="col" style="flex: 0 0 20px">
          <a href="" (click)="createGroup();false" class="text-red"><i class="text-red fa fa-plus-square"></i></a><br />
        </div>
      </div>
      <app-group-selector (selected)="selectGroup($event)"></app-group-selector>
    </div>
  </div>
</modal>
<modal id="createGroupModal">
  <div class="panel">
    <h3>Create group</h3>
    <div class="fill">
      <p>Application groups are used to logically group applications into smaller lists.</p>
      <app-group-add (closed)="onGroupCreated()"></app-group-add>
    </div>
  </div>
</modal>


<guide name="showGuideTooltip">
  <h1>Short guides</h1>
  <div>
    <p>When this icon is yellow, click on it to see a short summary of a feature in Coderr.</p>
    <p>It's the best way to get started quickly and to learn about new features after a release.</p>
  </div>
</guide>

<guide name="sysAdminOption">
  <h1>System administration</h1>
  <div>
    <p>Here you can find security settings, api keys, group management and white lists (for front-ends).</p>
  </div>
</guide>

<guide name="sysAdminSupport">
  <h1>Support</h1>
  <div>
    <p>We, the developers of this service, would love to help. You can also just message us to discuss about code quality.</p>
  </div>
</guide>

<guide name="accountSettings">
  <h1>Account settings</h1>
  <div>
    <p>Get notified ASAP when new errors are detected, or when they are escalated by Coderr.</p>
  </div>
</guide>


