@import "coderr-variables.scss";

.card {
    input[type="checkbox"] {
        cursor: pointer;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        outline: 0;
        background: $gray-300;
        height: 16px;
        width: 16px;
        border: 1px solid #333;
    }

    input[type="checkbox"]:checked {
        background: $blue;
        color: $blue !important;
    }

    input[type="checkbox"]:hover {
        filter: brightness(90%);
    }

    input[type="checkbox"]:disabled {
        background: $gray-700;
        opacity: 0.6;
        pointer-events: none;
    }

    input[type="checkbox"]:after {
        content: '';
        position: relative;
        left: 40%;
        top: 20%;
        width: 15%;
        height: 40%;
        display: none;
    }

    input[type="checkbox"]:checked:after {
        display: block;
    }

    input[type="checkbox"]:disabled:after {
        border-color: $gray-100;
    }
}
