@import "coderr-variables.scss";
@import "mixins/_breakpoints.scss";

.minimal-gutters {
    margin-right: 1px;
    margin-left: 1px;
}

.minimal-gutters > .col,
.minimal-gutters > [class*="col-"] {
    padding-right: 1px;
    padding-left: 1px;
}

.minimal-gutters .card {
    margin-bottom: 1px;
}

.card .card-body ul {
    padding-left: 10px;
}

.card-header h3 {
    color: $blue;
}

a.active {
    background-color: $blue;
}

.nav-link.active {
    background-color: transparent;
}


code {
    background-color: $gray-400;
}

pre {
    background-color: transparent;

    > code {
        background-color: transparent;
    }
}

.navbar-collapse {
    .fa {
        color: $blue;
    }
}

.bg-dark {
    h1, h2, h3, h4, a, span {
        color: $light;
    }
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.submenu {
    background-color: $gray-400;

    ul.nav li.router-link-active {
        .fa {
            color: $blue;
        }

        color: white;
        bdackground-color: $gray-100;
    }

    .router-link-active > a {
        color: $dark;
    }

    .router-link-active {
        font-weight: bold;
    }

    li {
        margin-top: -0.5rem;
        margin-bottom: -0.5rem;
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
    }

    li.router-link-active {
        bdackground: #f1f3f5;
    }
}


.alert {
    &.alert-warning {
        background-color: $red;
    }

    a {
        color: white;
    }
}


button.btn-light, a.btn-light {
    color: $dark;
}

.card {
    border: 0;
    background-color: white;
    border-radius: 0;

    .card-header {
        border-radius: 0;
        background-color: $dark;
        color: $light;
        border-bottom: 0;
    }

    .btn-primary {
        background-color: $blue;
        border-color: $blue;
    }
}

.table {
    width: 100%;

    th {
        padding: 5px;
        color: $gray;
    }

    th.gray {
        background: $gray;
        color: #fff;
    }

    td {
        padding: 5px;
    }

    &.th-vertical {
        th {
            width: 30%;
            white-space: nowrap;
            text-align: right;
        }
    }

    td.checkboxes, th.checkboxes {
        padding-left: 0;
    }
}

.table.blue {
    th {
        background-color: $blue;
        color: #fff;
    }
}

.bg-dark .table {
    th {
        color: $light;
    }

    td {
        color: $light;
    }
}

.table-striped tr:nth-child(even) {
    background-color: $blue-30;
}

.badge.badge-dark {
    background-color: $gray;
    color: #fff;
}

::-webkit-input-placeholder, ::-moz-placeholder, :-ms-input-placeholder, :-moz-placeholder {
    font-style: italic;
}
