@import "coderr-variables.scss";
@import "mixins/_breakpoints.scss";
@import "checkbox.scss";

.bg-dark {
    h1, h2, h3, h4, a, span {
        color: $light;
    }
}

.navbar-dark .navbar-nav .nav-link {
    color: $blue;
}

.submenu {
    > div {
        background-color: white !important;

        ul li a {
            color: $gray-500 !important;
        }
    }
    // The view main element
    + div {
        input[type=text]{
            background-color: $gray-100 !important;
        }

        .card-col > div {
            margin-right: -20px;
        }

        .card {
            padding: 0;
            margin: 20px;

            .card-header{
                margin-bottom: 0;
                padding-bottom: 0;
            }
            .card-body {
                margin-top: 0;
                padding-top: 10px;
                color: $gray-500;

                table {
                    width: 100%;

                    tr {
                        th {
                            color: $gray-500;
                            padding-right: 20px;
                            min-width: 70%;
                        }

                        td {
                            max-width: 100px;
                            padding-left: 10px;
                            text-align: right;
                        }
                    }
                }
            }
        }
    }
}

.btn.btn-outline-primary {
    color: #fff;
}

.card .card-body ul {
    padding-left: 10px;
}

.card-header h3 {
    color: $blue;
}

a.active {
    background-color: $blue;
}

.nav-link.active {
    background-color: transparent;
}


code {
    background-color: $gray-400;
}

pre {
    background-color: transparent;

    > code {
        background-color: transparent;
    }
}

.navbar-collapse {
    .fa {
        color: $blue;
    }
}


.submenu {
    background-color: $gray-400;

    ul.nav li.router-link-active {
        .fa {
            color: $blue;
        }

        color: white;
        bdackground-color: $gray-100;
    }

    .router-link-active > a {
        color: $dark;
    }

    .router-link-active {
        font-weight: bold;
    }

    li {
        margin-top: -0.5rem;
        margin-bottom: -0.5rem;
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
    }

    li.router-link-active {
        bdackground: #f1f3f5;
    }
}


.alert {
    &.alert-warning {
        background-color: $red;
    }

    a {
        color: white;
    }
}


button.btn-light, a.btn-light {
    color: $dark;
}

.card {
    /*border: 0;
    background-color: white;
    border-radius: 0;

    .card-header {
        border-radius: 0;
        background-color: $dark;
        color: $light;
        border-bottom: 0;
    }*/
    .btn-primary {
        background-color: $blue;
        border-color: $blue;
    }
}

.table {
    width: 100%;

    th {
        padding: 5px;
        color: $gray;
    }

    th.gray {
        background: $gray;
        color: #fff;
    }

    td {
        padding: 5px;
    }

    &.th-vertical {
        th {
            width: 30%;
            white-space: nowrap;
            text-align: right;
        }
    }

    td.checkboxes, th.checkboxes {
        padding-left: 0;
    }
}

.table.blue {
    th {
        background-color: $blue;
        color: #fff;
    }
}

.bg-dark .table {
    th {
        color: $light;
    }

    td {
        color: $light;
    }
}

.table-striped tr:nth-child(even) {
    background-color: $blue-30;
}

.badge.badge-dark {
    background-color: $gray;
    color: #fff;
}

::-webkit-input-placeholder, ::-moz-placeholder, :-ms-input-placeholder, :-moz-placeholder {
    font-style: italic;
}



/** TOGGLE BUTTON */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: $blue;
}

input:focus + .slider {
    box-shadow: 0 0 1px $blue;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
