<template>
    <div class="">
        <div class="row" v-if="!noApps">
            <div class="col mb-2">
                <div class="jumbotron">
                    <h1 class="display-4">Welcome to Coderr! </h1>
                    <p class="lead">
                        We suggest that you begin by configuring your application.
                    </p>
                    <button class="btn btn-primary" @click.prevent="start">Configuration guide</button>
                    <button class="btn btn-secondary" @click.prevent="mute">Mute this message</button>
                </div>
            </div>
        </div>
        <div class="row" v-if="noApps">
            <div class="jumbotron">
                <h1 class="display-4">Welcome to Coderr! </h1>
                <p class="lead">
                    You are not a member of any applications in Coderr yet. Ask your administrator to get invited.
                </p>
            </div>
        </div>
    </div>
</template>

<script src="./home.ts"></script>