<template>
    <div class="onboarding">
        <div v-show="showOnboarding">
            <div class="row">
                <div class="col mb-2 mt-5">
                    <div class="m-4">
                        <h2>Welcome to Coderr!</h2>
                        <p class="lead">
                            Coderr finds errors in production and makes it trivial to reproduce and correct them. The best way to get started is to read our <a href="https://coderr.io/documentation/getting-started/">getting started guide</a>.
                        </p>
                    </div>

                </div>
            </div>
            <div class="m-4">
                <div class="row card-group">
                    <div class="card">
                        <div class="card-header">
                            <h3>Report errors</h3>
                        </div>
                        <div class="card-body">
                            <p>
                                Our nuget packages are used detect and report errors in your application. To get started you need to install and configure our of our packages.
                            </p>
                            <p>
                                Follow
                                our configuration wizard below to get started. You can also read our <a href="https://coderr.io/documentation/">reporting guide</a> or visit our <a href="https://coderr.io/guides-and-support">Guides and support</a> section at our homepage.
                            </p>
                            <div>

                            </div>

                        </div>
                        <div class="card-footer">
                            <button class="btn btn-primary" @click.prevent="start">Configuration wizard</button>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <h3>Application configuration (admin only)</h3>
                        </div>
                        <div class="card-body">
                            <p>
                                You can monitor multiple applications in Coderr. To make it easier for you, we created an application named "DemoApp".
                            </p>
                            <p>
                                You can change its name and create more applications by clicking on the Cog wheel (<i class="fa fa-cog text-primary"></i>) at top right.
                            </p>
                        </div>
                        <div class="card-footer">
                            <a class="btn btn-primary" :href="`manage/application/${appId}`">
                                Application settings
                            </a>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header">
                            <h3>Invite co-workers (admin only)</h3>
                        </div>
                        <div class="card-body">
                            <p>To invite co-workers, use the Cog wheel (<i class="fa fa-cog text-primary"></i>) found in top right menu, select one of your applications and then use the "Security" tab.</p>
                        </div>
                        <div class="card-footer">
                            <a class="btn btn-primary" :href="`manage/application/${appId}/security`">
                                Invite co-workers
                            </a>
                        </div>

                    </div>
                </div>
                <div class="row card-group mt-2">
                    <div class="card">
                        <div class="card-header">
                            <h3>Before going to production</h3>
                        </div>
                        <div class="card-body">
                            <pre><code>Err.Configuration.ThrowExceptions = false;</code></pre>
                            <p>Turn of Coderrs internal exceptions before going to production.</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <h3>Disable Coderr in Development environments</h3>
                        </div>
                        <div class="card-body">
                            <p>You typically have full control over errors happening in development environments. Learn how to conditionally enable Coderr to reduce noise.</p>

                        </div>
                        <div class="card-footer">
                            <a class="btn btn-primary" href="https://coderr.io/documentation/getting-started/#before-going-to-production">Learn more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div v-show="noApps">
            <div class="row">
                <div class="jumbotron">
                    <h1 class="display-4">Welcome to Coderr! </h1>
                    <p class="lead">
                        You are not a member of any applications in Coderr yet. Ask your administrator to get invited.
                    </p>
                </div>
            </div>
        </div>
    </div>
</template>

<script src="./home.ts"></script>
<style src="./home.css"></style>