.onboarding a.btn, .onboarding button.btn {
    color: #fff;
}

.onboarding .card {
    min-width: 30%;
    margin-bottom: 10px;
    min-width: 500px;
}
/*.onboarding .card-group {
    padding: 5px;
}*/
.onboarding .card, .onboarding .card * {
    margin-right: 10px;
    color: #000;
}

.onboarding .card a.btn {
    color: #fff;
}
