@model OneTrueError.Web.Areas.Admin.Models.ReportingViewModel
@{
    ViewBag.Title = "Admin - Reporting";
}
<div class="container">
    <div class="col-lg-6">

        <h2>Base configuration</h2>
        <form method="post" action="@Url.Action("Index")" style="width: 100%" class="form">
            @Html.ValidationSummary(false)
            <div class="form-group">
                <label class="control-label">
                    Max number of reports per incident
                </label>
                <input type="number"
                       name="MaxReportsPerIncident" class="form-control" value="@Model.MaxReportsPerIncident" />
                <small>Start deleting the oldest reports for an incident when this number of reports have been received for it.</small>
            </div>
            <div class="form-group">
                <label for="RetentionDays">
                    Retention period (in days)
                </label>
                <input type="number" id="RetentionDays" name="RetentionDays" class="form-control" value="@Model.RetentionDays" />
                <small>Keep a report this long for an incident.</small>
            </div>
            <br />
            <input type="submit" class="btn btn-primary" value="Save" />
        </form>
    </div>
</div>