.tags button {
    margin-right: 5px;
}

.more {
    display: none;
}

/*.coderr-chart {
    margin-right: 40px;
}*/

.coderr-chart .ct-chart-line {
    overflow: visible !important;
}

.coderr-chart .legend {
    text-align: center;
}

    .coderr-chart .legend > div {
        display: inline-block;
        padding-right: 20px;
    }

.coderr-chart .ct-line {
    stroke-width: 2px;
}

.coderr-chart .ct-point {
    stroke-width: 6px;
}

.coderr-chart .legend .ct-point {
    stroke-width: 10px;
}

.coderr-chart .ct-series-a .ct-line, .coderr-chart .ct-series-a .ct-point {
    stroke: #59c1d5;
}

.coderr-chart .ct-series-b .ct-line, .coderr-chart .ct-series-b .ct-point {
    stroke: #f18c65;
}

.coderr-chart .ct-series-c .ct-line, .coderr-chart .ct-series-c .ct-point {
    stroke: #65f175;
}

.coderr-chart .ct-series-d .ct-line, .coderr-chart .ct-series-d .ct-point {
    stroke: #abdbe7;
}

.coderr-chart .ct-series-e .ct-line, .coderr-chart .ct-series-e .ct-point {
    stroke: #b265f1;
}

.coderr-chart .ct-series-f .ct-line, .coderr-chart .ct-series-f .ct-point {
    stroke: #f1d365;
}

.coderr-chart .ct-grid.ct-horizontal, .coderr-chart .ct-grid.ct-vertical {
    stroke: #515151;
    stroke-dasharray: 4;
}


svg.ct-chart-line, svg.ct-chart-line g.ct-labels, svg.ct-chart-line g.ct-labels span.ct-label {
    overflow: visible;
}
