<template>
    <div class="">
        <div class="row">
            <div class="col-lg-3">
                <div class="row">

                    <div class="col-lg-12">
                        <div class="card mb-1">
                            <div class="card-header">
                                Summary (last 30 days)
                            </div>
                            <div class="card-body">
                                <table class="table table-borderless th-vertical">
                                    <tbody>
                                        <tr>
                                            <th width="30%">Number of incidents</th>
                                            <td>{{ incidentCount }}</td>
                                        </tr>
                                        <tr style="white-space: nowrap">
                                            <th>Number of error reports</th>
                                            <td>{{ reportCount }}</td>
                                        </tr>
                                        <tr v-if="followers > 0">
                                            <th title="Number of users that want status updates">Incident followers (users)</th>
                                            <td>{{ followers }}</td>
                                        </tr>
                                        <tr v-if="feedbackCount > 0">
                                            <th>Number of user reports</th>
                                            <td>{{ feedbackCount }}</td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 ">
                        <div class="card bg-blue mb-1 p-2" v-if="reportCount == 0">
                            <div class="">
                                <h3>Report exceptions</h3>
                                <p class="text-white">
                                    You have not reported any exceptions yet.
                                </p>
                                <router-link :to="{name: 'configureApplication', params: {applicationId: firstApplicationId }}" class="btn btn-dark">Configure your application</router-link>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="card" v-if="myIncidents.length > 0">
                            <div class="card-header">
                                My incidents
                            </div>
                            <div class="card-body">
                                <ul>
                                    <li v-for="incident in myIncidents">
                                        <router-link :to="{ name: 'analyzeIncident', params: { applicationId: incident.applicationId, incidentId: incident.Id }}">{{incident.Name}}</router-link>
                                    </li>
                                </ul>
                                <div v-if="myIncidents.length == 0">
                                    <p class="text-info">
                                        You are currently not working with an incident.
                                    </p>
                                    <router-link class="btn btn-primary" to="incidents">Find incidents</router-link>
                                </div>
                                <div v-if="myBestSuggestion">
                                    <hr />
                                    We suggest that you work with:
                                    <router-link :to="{ name: 'analyzeIncident', params: { applicationId: myBestSuggestion.applicationId, myBestSuggestion: incident.Id }}">{{myBestSuggestion.Description}}</router-link>
                                    <router-link class="btn btn-primary btn-sm" v-bind:click="assignBestToMe">{{myBestSuggestion.Description}}</router-link>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="card">
                    <div class="card-body trend">
                        <div class="position-relative coderr-chart" style="padding-left: 16px;">
                            <h3>
                                <span v-if="applicationId == 0">Incident trend per application</span>
                                <span v-else>Incident trend</span>
                            </h3>
                            <div class="ct-chart ct-major-twelfth">

                            </div>
                            <div class="legend">
                                <div v-for="l in legend" :class="l.className">
                                    <svg width="10" height="10">
                                        <rect width="10" height="10" class="ct-point" />
                                    </svg>
                                    {{l.name}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>


<style src="chartist/dist/chartist.css"></style>
<style src="./home.css"></style>
<script src="./home.ts"></script>