<template>
    <div>
        <div class="row">
            <div class="col-lg-4 col-md-5 card-col">
                <div class="card">
                    <div class="card-header">
                        Summary (last 30 days)
                    </div>
                    <div class="card-body">
                        <table class="th-vertical">
                            <tbody>
                                <tr>
                                    <th>Number of incidents</th>
                                    <td>{{ incidentCount }}</td>
                                </tr>
                                <tr style="white-space: nowrap">
                                    <th>Number of error reports</th>
                                    <td>{{ reportCount }}</td>
                                </tr>
                                <tr v-if="followers > 0">
                                    <th title="Number of users that want status updates">Incident followers (users)</th>
                                    <td>{{ followers }}</td>
                                </tr>
                                <tr v-if="feedbackCount > 0">
                                    <th>Number of user reports</th>
                                    <td>{{ feedbackCount }}</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
                <div class="card" v-if="reportCount == 0">
                    <div class="card-header">
                        Report exceptions
                    </div>
                    <div class="card-body">
                        <p>
                            You have not reported any exceptions yet.
                        </p>
                    </div>
                    <div class="card-footer">
                        <router-link :to="{name: 'configureApplication', params: {applicationId: firstApplicationId }}" class="btn btn-dark">Configure your application</router-link>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-7">
                <div class="alert-dark" v-if="myBestSuggestion">
                    We suggest that you work with:
                    <router-link :to="{ name: 'analyzeIncident', params: { applicationId: myBestSuggestion.applicationId, myBestSuggestion: incident.Id }}">{{myBestSuggestion.Description}}</router-link>
                    <router-link class="btn btn-primary btn-sm" v-bind:click="assignBestToMe">{{myBestSuggestion.Description}}</router-link>
                </div>
                <div class="card">
                    <div class="card-header">
                        <span v-if="applicationId == 0">Incident trend per application</span>
                        <span v-else>Incident trend</span>
                    </div>
                    <div class="card-body trend">
                        <div class="position-relative coderr-chart" style="padding-left: 16px;">
                            <div class="ct-chart ct-major-twelfth">

                            </div>
                            <div class="legend">
                                <div v-for="l in legend" :class="l.className">
                                    <svg width="10" height="10">
                                        <rect width="10" height="10" class="ct-point"/>
                                    </svg>
                                    {{l.name}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>


<style src="chartist/dist/chartist.css"></style>
<style src="./home.css"></style>
<script src="./home.ts"></script>