<template>
    <div class="mt-4">
        <div class="row">
            <div class="col-lg-8 members">
                <div class="card">
                    <div class="card-header">
                        Application security [{{applicationName}}]
                    </div>
                    <div class="card-body">
                        <h3>Admins</h3>
                        <table class="">
                            <tr v-for="admin in admins">
                                <td>
                                    {{
admin.name
                                    }}
                                </td>
                                <td>
                                    <a href="#" @click.prevent="removeAdmin(admin.id)" v-if="admins.length > 1" title="Downgrade to regular member"><i class="fa fa-hand-point-down text-warning"></i></a>
                                </td>
                            </tr>
                        </table>
                        <h3>Members</h3>
                        <table class="">
                            <tr v-for="member in members">
                                <td>
                                    {{member.name}}
                                </td>
                                <td>
                                    <a href="#" @click.prevent="addAdmin(member.id)" title="Make admin"><i class="fa fa-hand-point-up text-success"></i></a>
                                    <a href="#" @click.prevent="removeMember(member.id)"><i class="fa fa-trash text-danger"></i></a>
                                </td>
                            </tr>
                        </table>
                        <div v-if="members.length == 0">
                            <em>No members have been added.</em>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-header">Pending invites</div>
                    <div class="card-body">
                        <table class="table table-borderless" v-if="invites.length > 0">
                            <tr v-for="member in invites">
                                <td>
                                    {{member.EmailAddress}}
                                </td>
                                <td>
                                    <a href="#" @click.prevent="removeInvitation(member.EmailAddress)"><i class="text-red fa fa-trash"></i></a>
                                </td>
                            </tr>
                        </table>
                        <div v-if="invites.length == 0">
                            <em>(No pending invites)</em>
                        </div>
                        <hr />
                        <h4>Send invite</h4>
                        <form @submit.prevent="inviteUser($event)">
                            <input type="email" class="form-control" v-model="inviteEmail" placeholder="Email address" style="display: inline; width: auto;" required="" />
                            <input type="submit" value="Invite member" class="btn btn-primary" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>


<style src="./security.css"></style>
<script src="./security.ts"></script>