<template>
    <div class="mt-4">
        <div class="row">
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-header">Partitions</div>
                    <div class="card-body">
                        <table class="table table-striped" v-if="">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Key</th>
                                    <th>Weight</th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                        <em>
                            Partitions are used to prioritize incidents based in operational aspects that are important to you.
                            <a href="https://coderr.io/documentation/client/partitions/" target="_self">Read more</a>
                        </em>

                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-header">Create a new partition</div>
                    <div class="card-body">
                        <div class="form-group">
                            <label>
                                Title
                            </label>
                            <input type="text" name="Title" class="form-control" placeholder="Title (display name)" />
                        </div>
                        <div class="form-group">
                            <label>
                                Partition key
                            </label>
                            <input type="text" name="PartitionKey" class="form-control" placeholder="" />
                            <span class="help-block">The property name in the client library when reporting errors. Read this <a href="#">guide</a> for more information. If the partition is "Users" this might be "userId".</span>
                        </div>
                        <div class="form-group">
                            <label>
                                Number of items
                            </label>
                            <input type="text" name="NumberOfItems" class="form-control" placeholder="" />
                            <span class="help-block">If the partition is "Users", then this is the amount of users that you have in your system. The quality of Coderr's prioritization is much better when this field is specified.</span>
                        </div>
                        <div class="form-group">
                            <label>
                                Weight
                            </label>
                            <input type="text" name="Weight" class="form-control" value="1" placeholder="" />
                            <span class="help-block">The weight compared to other partitions. Those with more weight is more important than those with less weight. 1 = default</span>
                        </div>
                        <div>
                            <input type="submit" class="btn btn-lg" value="Create" />
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</template>


<style src="./partition.css" />
<script src="./partition.ts"></script>