table td {
  font-weight: normal
}

.log-1 {
  color: #999999;
}

.log-2 {
  color: green;
}

.log-3 {
  color: #9932cc;
}

.log-4 {
  color: #9932cc;
}

.log-5 {
  color: #9932cc;
}

.log-6 {
  color: #9932cc;
}


.exception {
  border-top: 1px solid #ccc;
  color: #333;
}
