@model codeRR.Server.Web.Areas.Admin.Models.ErrorTrackingViewModel
@{
    ViewBag.Title = "Admin - Error tracking";
}
<div class="container">
    <div class="col-lg-6">

        <h2>Error tracking</h2>
        <p>
            To correct bugs much faster we use codeRR to track errors in codeRR Community Server. All exceptions
            are uploaded to our own installation for further analysis.
        </p>
        <form method="post" action="@Url.Action("Errors")" style="width: 100%" class="form">
            @Html.ValidationSummary(false)
            <div class="form-group">
            </div>
            <div class="form-group disabled suboption">
                @Html.LabelFor(x => x.ContactEmail, new {@class = "control-label"})
                @Html.TextBoxFor(x => x.ContactEmail, new {@class = "form-control"})
                <small>Email address that we may contact if we need any further information (will also receive notifications when your errors have been corrected).</small>
            </div>
            <br/>
            <input type="submit" class="btn btn-primary" value="Save"/>
        </form>
    </div>
</div>
@section scripts
{
    <script>
        $('#ActivateTracking')
            .click(function() {
                if ($('.suboption').is('.disabled')) {
                    $('.suboption').removeClass('disabled');
                    $('.suboption input').prop('disabled', false);
                    $('.suboption label').prop('disabled', false);
                } else {
                    $('.suboption').addClass('disabled');
                    $('.suboption input').prop('disabled', true);
                    $('.suboption label').prop('disabled', true);
                }

            });
        if ($('#ActivateTracking').is(':checked')) {
            $('.suboption').removeClass('disabled');
            $('.suboption input').prop('disabled', false);
            $('.suboption label').prop('disabled', false);
        }
    </script>
}