<div class="jumbotron">
    <h1>Welcome</h1>
    <p class="lead">Congratulations to taking the first step to less painful exception handling.</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Quick start</h2>
        <ol>
            <li>Install one of our <a href="https://www.nuget.org/packages?q=onetrueerror">nuget</a> packages in your application</li>
            <li>Create a new application by using top menu.</li>
            <li>Copy the appKey/sharedSecret to your application</li>
            <li>Generate an unhandled exception in your application to get it analyzed.</li>
            <li>View the beauty in this site.</li>
        </ol>
    </div>

    <div class="col-md-6">
        <h2>More information</h2>
        <p>
            OneTrueError is based on a client/server architecture. The client packages detect and capture exceptions together
            with contextual information (such as thread info, app info etc). That information is then uploaded to our server
            for analysis.
        </p>
        <p>
            To get started you need to download one of our <a href="http://nuget.org">nuget</a> packages (search for "OneTrueError" in the package manager). Feel free
            to drop us an <a href="mailto:support@OneTrueError.com?subject=nuget">email</a> if you need help to get started with nuget.
        </p>
        <p>
            Then visit the application by clicking on the "Dashboard" drop down to get the correct appKey/sharedSecret.
        </p>
    </div>
</div>