<div class="row">
    <div class="col-lg-6 col-sm-12">
        <div class="card-box">
            <h2>Verify installation</h2>
            <p class="lead">Awesome! To make sure that everything works, generate an exception in your application.</p>
            <p>Remember that the <a href="https://msdn.microsoft.com/en-us/library/x85tt0dd.aspx?f=255&MSPPError=-2147217396">First-chance exception</a> setting in Visual Studio might break before codeRR gets the error. Use Debug/Continue if Visual Studio breaks.</p>
            <hr />
            <p style="font-size: 1.3em">
                <a href="http://coderrapp.com/documentation/client/gettingstarted.md">Client guide</a> |
                <a href="http://discuss.coderrapp.com/c/getting-started">Need help?</a>
            </p>
        </div>
    </div>
    <div class="col-lg-6 col-sm-12">
        <div class="card-box">
            <h2>Generating an exception</h2>
            <p>
                If you want to test the automated handling (unhandled exceptions), the easiest way is just to add a throw somewhere.
            </p>
            <pre><code class="c#">throw new InvalidOperationException("Something for codeRR to bite in.");</code></pre>
            <p>Remember to visit the page/function that throws that exception :)</p>
            <h3>Manually reporting exceptions</h3>
            <p>If you have not activated the handling of uncaught exceptions you can use a try/catch to verify:</p>
            <pre><code class="c#">try
{
    throw new InvalidOperationException("Something for codeRR to bite in.");
}
catch (Exception ex)
{
    Err.Report(ex);
}</code></pre>
        </div>
    </div>
</div>