<template>
    <div class="configure-view">
        <div class="card">
            <div class="card-header">Configure application</div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-2 col-md-4">
                        <div class="buttons">
                            <button class="btn btn-light" v-for="lib in libraries" :data-lib="lib.libraryName" v-on:click.prevent="select(lib.libraryName)">
                                {{lib.clientFolderName}}
                            </button>
                        </div>
                    </div>
                    <div class="col">
                        <div class="alert alert-warning" v-if="weAreInTrouble">
                            <h3 class="alert-heading">No errors have been reported.</h3>
                            <div>
                                <p>We could not find any reported errors in our database. </p>
                                <p>Do you want our help to troubleshoot the issue?</p>
                                <button id="configureHelpButton" class="btn btn-light" v-on:click="goToSupport">Get help from our developers</button>
                                <a class="btn  btn-light" href="https://coderr.io/guides-and-support/">Guides and support</a>
                                <router-link class="btn  btn-light" :to="{ name: 'root' }">Exit onboarding</router-link>
                            </div>
                        </div>
                        <div class="alert alert-warning" v-if="noConnection">
                            <h3 class="alert-heading">No internet connection</h3>
                            <div>
                                <p>An internet connection is required to load the configuration guides.</p>
                                <p>As we could not download them, you need to visit <a target="_blank" href="https://coderr.io/guides-and-support/">our documentation</a> by yourself.</p>
                                <hr />
                                <h5>
                                    Your credentials (copy/paste into your application)
                                </h5>
                                <pre><code class="lang-c#">var url = new Uri("{{reportUrl}}");
Err.Configuration.Credentials(url,
                              "{{appKey}}", 
                              "{{sharedSecret}}");
</code></pre>
                            </div>
                        </div>
                        <div v-if="!noConnection">
                            <em v-if="!instruction">Select a library to the left</em>
                            <div v-html="instruction"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-blue" v-on:click.prevent="completedConfiguration">Configuration is complete &gt;&gt;</button>
            </div>
        </div>
    </div>
</template>


<style src="./configure.css"></style>
<script src="./configure.ts"></script>