.buttons {
    padding-top: 1px;
}

.buttons button {
    margin-top: 1px;
    display: block;
    width: 100%
}

.configure-view p {
    color: #333;
}

.configure-view btn.active {
    color: #59c1d5;
}

.configure-view pre {
    background-color: #393938;
    padding: 5px;
}