/*.discover-menu .router-link-active {
    font-weight: bold;
}

.discover-menu li {
    margin-top: -0.5rem;
    margin-bottom: -0.5rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

    .discover-menu li.router-link-active {
        background: #f1f3f5;
    }*/
/*.router-link-exact-active {
    color: #ffffff;
}

.dropdown-menu .router-link-exact-active {
    color: #333333;
    font-weight: bold;
}

.bg-light .router-link-exact-active {
    color: #333333;
    font-weight: bold;
}*/
