<template>
    <div class="mb-3 discover-menu">
        <div class="navbar-light navbar bg-light">
            <ul class="nav">
                <router-link tag="li" class="nav-item" :to="{name: 'discoverForApplication', params: {applicationId: currentApplicationId }}" exact>
                    <a class="nav-link"><i class="fa fa-tachometer-alt"></i> Overview</a>
                </router-link>
                <!--<router-link tag="li" class="nav-item" :to="{name: 'suggest', params: {applicationId: currentApplicationId }}">
                    <a class="nav-link"><i class="fa fa-question-circle"></i> Suggestions</a>
                </router-link>-->
                <router-link tag="li" class="nav-item" :to="{name: 'findIncidents', params: {applicationId: currentApplicationId }}">
                    <a class="nav-link"><i class="fa fa-table"></i> Find incidents</a>
                </router-link>
                <router-link tag="li" class="nav-item" :to="{name: 'configureApplication', params: {applicationId: currentApplicationId }}" v-if="currentApplicationId">
                    <a class="nav-link"><i class="fa fa-cog"></i> Configure your application</a>
                </router-link>
            </ul>
        </div>
    </div>
</template>

<style src="./menu.css" />
<script src="./menu.ts"></script>