<div id="IncidentView">
    <div class="row m-b-10">
        <div class="col-sm-12">
            <div class="pull-right">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Actions
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#/application/:applicationId/incident/:incidentId/close" data-title="This incident have been corrected and should not generate any more reports" data-unless="IsSolved">
                            <span class="fa fa-check"></span> Solve
                        </a>
                        <a class="dropdown-item" href="#/application/:applicationId/incident/:incidentId/ignore" data-title="Do not trigger notifications or show this incident as active, no matter how many reports it receive." data-unless="IsIgnored">
                            <span class="fa fa-pause"></span> Ignore
                        </a>
                        <a id="reopenBtn" class="dropdown-item" href="#/application/:applicationId/incident/:incidentId/reopen" data-title="Do not trigger notifications or show this incident as active, no matter how many reports it receive." data-if="IsIgnored,IsSolved">
                            <span class="fa fa-play"></span> Reopen
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card-box">
                        <h5>Stacktrace</h5>
                        <pre style="padding: 20px 10px 20px 10px; text-wrap: normal; max-width: 100%;"><code data-name="StackTrace"></code></pre>
                        <div data-collection="Tags">
                            <a data-name="[]" class="" href=""></a>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-6 col-xl-3" style="height: 100%">
                            <div class="card-box tilebox-three" style="height: 100%">
                                <div class="text-right">
                                    <h6 class="text-dark text-uppercase m-b-15 m-t-10">Report count</h6>
                                    <h5 class="m-b-10">
                                        <span data-name="ReportCount"></span>
                                    </h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-xl-3" style="height: 100%">
                            <div class="card-box tilebox-three" style="height: 100%">
                                <div class="text-right">
                                    <h6 class="text-dark text-uppercase m-b-15 m-t-10">Last report</h6>
                                    <h5 class="m-b-10">
                                        <span data-name="UpdatedAtUtc"></span>
                                    </h5>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-xl-3">
                            <div class="card-box tilebox-three" title="Number of users that want status updates">
                                <div class="text-right">
                                    <h6 class="text-dark text-uppercase m-b-15 m-t-10">Subscribers</h6>
                                    <h5 class="m-b-10">
                                        <span data-name="WaitingUserCount"></span>
                                    </h5>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-xl-3">
                            <div class="card-box tilebox-three">
                                <div class="text-right">
                                    <h6 class="text-dark text-uppercase m-b-15 m-t-10">Feedback count</h6>
                                    <h5 class="m-b-10">
                                        <span data-name="FeedbackCount"></span>
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card-box">
                <div id="legend" class="text-center">
                    <h4 class="header-title m-t-0 m-b-20">Report trend</h4>
                </div>
                <div>
                    <div id="myChart" style="height: 200px"></div>
                </div>
                <div class="text-center">
                    <form id="refresh-chart" style="display: inline">
                        <input type="radio" name="range" value="30" checked="checked"/> month
                        <input type="radio" name="range" value="7"/> week
                        <input type="radio" name="range" value="1"/> day
                    </form>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-lg-12">
            <h2 id="Reports">Reports</h2>
            <div class="card-box">
                <table id="reportsTable" class="table table-striped">
                    <thead>
                    <tr>
                        <th>Message</th>
                        <th>Reported at (UTC)</th>
                        <th>Ip address</th>
                        <th>&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody data-collection="Items">
                    <tr>
                        <td>
                            <a href="" data-name="Message"></a>
                        </td>
                        <td data-name="CreatedAtUtc"></td>
                        <td data-name="RemoteAddress"></td>
                        <td></td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="4" class="text-right" id="pager"></td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
