<h2>Application versions</h2>
<p>Lists the application versions and the number of errors each version have.</p>
<table class="table table-striped" data-if="vm.haveItems">
    <thead>
        <tr>
            <th>Version</th>
            <th>Incidents</th>
            <th>Reports</th>
            <th>Oldest report</th>
            <th>Newest report</th>
        </tr>
    </thead>
    <tbody id="itemsTable">
        <tr data-collection="Items">
            <td data-name="Version"></td>
            <td data-name="IncidentCount"></td>
            <td data-name="ReportCount"></td>
            <td data-name="FirstReportReceivedAtUtc"></td>
            <td data-name="LastReportReceivedAtUtc"></td>
        </tr>
    </tbody>
</table>
<p data-unless="vm.haveItems">
    <em>
        No incidents have been reported yet, or you haven't configured the version assembly in the admin area.
    </em>
</p>

<ul data-navigation="main-navigation">
    <li>
        <a href="#/application/:applicationId/">Appinfo</a>
    </li>
    <li>
        <a href="#/application/:applicationId/incidents">Incidents</a>
    </li>
    <li>
        <a href="#/application/:applicationId/feedback">Feedback</a>
    </li>
</ul>