@import "../../../../styles/_partials/coderr-variables.scss";
@import "../../../../styles/_partials/_mixins.scss";

.submenu {
  color: #ddd;
  background: $nav-sub-bg;
  padding-left: 15px;
  padding-right: 15px;

 
  .actions {
    margin-left: auto;
    margin-bottom: 3px;
    margin-top: auto;

    a {
      color: darken($blue, 50%);
      padding: 3px 5px;
/*      border-top: 1px solid darken($blue, 20%);
*/      border-left: 2px solid darken($blue, 15%);
  /*    border-right: 1px solid darken($blue, 20%);*/
      background-color: $blue;

      &.active {
        color: lighten($blue, 50%);
      }

      &:hover {
        color: $red;
      }
    }
  }
}
