.IncidentView .tags span {
    margin-right: 5px;
}
.tags button {
    margin-right: 5px;
}

.more {
    display: none;
}

.badge {
    font-size: 0.8em;
    background-color: #abdbe7;
    color: #000;
    padding: 2px;
}
