<template>
    <div class="ReportsView">
        <div class="card">
            <div class="card-header">
                Analyze reports, current: {{reportedAt|niceTime}}
            </div>
            <div class="card-body">
                <div v-if="userFeedback != null">
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <h3>Error report from {{userOrEmail}}</h3>
                                <div class="card-body">
                                    <pre style="min-height: 200px"><code>{{userFeedback}}</code></pre>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="contextCollections">
                    <div v-if="this.contextCollections.length == 0">
                        <em>No context collections were attached to this error report.</em>
                        <p>
                            <em>Our documentation demonstrates how you can <a href="http://coderr.io/documentation/client/manual-reporting/">manually add context information</a> or <a href="http://coderr.io/documentation/client/context-provider/">create custom collections</a>.</em>
                        </p>
                    </div>
                    <div v-else>
                        <div class="row">
                            <div class="col-md-auto col-sm-6 collection">
                                <div v-for="collection in contextCollections">
                                    <a href="#"
                                       :class="{'active': collection.Name === currentCollection.Name }"
                                       :data-name="collection.Name"
                                       v-on:click.prevent="loadCollection(collection.Name)">{{collection.Name}}</a>
                                </div>
                            </div>
                            <div class="col pt-3">
                                <div v-if="currentCollection">
                                    <table class="table" style="overflow: scroll; max-width: 100%;">
                                        <tbody>
                                            <tr v-for="prop in currentCollection.Properties">
                                                <th style="white-space: nowrap; width: 300px">{{prop.Key}}</th>
                                                <td style="max-width: 100%; overflow: auto;" class="value" v-html="prop.Value"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-lg-2">
                        <button class="btn btn-blue" v-on:click="prevReport" v-if="showPrevButton">&lt;&lt; Previous report</button>
                    </div>
                    <div class="col-lg-8 text-center">
                        <span>{{reportedAt|ago}}</span> <span class="text-muted">(report {{indexInTotalSet+1}} of {{totalCount}})</span>
                    </div>
                    <div class="col-lg-2 text-right">
                        <button class="btn btn-blue" v-on:click="nextReport" v-if="showNextButton">Next report &gt;&gt;</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>



<style src="./report.css"></style>
<script src="./report.ts"></script>