.ReportsView .tags span {
    margin-right: 5px;
}
.tags button {
    margin-right: 5px;
}

.more {
    display: none;
}

.collection a {
    padding: 5px;
    margin: 5px;
    display: block;
}
.ReportsView .contextCollections th, .ReportsView .contextCollections td, .ReportsView h4 {
    padding: 0.15rem;
}

.collection a {
    padding: 4px;
}

.collection .active {
    background-color: #abdbe7;
    display: block;
}

.contextCollections .card {
    overflow-x: scroll;
    overflow-y: auto
}