<template>
    <div class="mb-3">
        <div class="mb-0 analyze-menu submenu" v-if="incidentId">
            <div class="navbar-light navbar bg-light">
                <ul class="nav">
                    <li class="nav-item dropdown">
                        <a href="#" @click.prevent="toggleIncidentMenu" class="nav-link" id="myIncidentsBtn">
                            <i class="fa fa-bars"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <router-link class="nav-link" :to="{name: 'analyzeIncident', params: {incidentId: incidentId }}" exact>
                            <span class="fa fa-chart-line"></span> Overview
                        </router-link>
                    </li>
                    <li class="nav-item">
                        <router-link class="nav-link" :to="{name: 'analyzeOrigins', params: {incidentId: incidentId }}">
                            <span class="fa fa-globe"></span> Error origins
                        </router-link>
                    </li>
                    <li class="nav-item">
                        <router-link class="nav-link" :to="{name: 'analyzeReport', params: {incidentId: incidentId }}">
                            <span class="fa fa-table"></span> Analyze reports
                        </router-link>
                    </li>
                    <li class="nav-item">
                        <router-link class="nav-link" :to="{name: 'analyzeFeedback', params: {incidentId: incidentId }}">
                            <span class="fa fa-comment"></span> Bug reports
                        </router-link>
                    </li>
                </ul>
            </div>
        </div>
        <div v-show="toggleMenu" class="bg-dark text-blue mt-0 p-5 my-incidents">
            <h3 class="text-blue">My incidents</h3>
            <table>
                <tr>
                    <th>Name</th>
                    <th v-if="applicationId == null">Application</th>
                    <th>Created</th>
                    <th>Assigned since</th>
                </tr>
                <tr v-for="item in incidents">
                    <td class="text-left">
                        <router-link :to="{ name: 'analyzeIncident', params: {incidentId: item.incidentId.toString() }}" :key="item.incidentId">
                            {{item.title}}
                        </router-link>
                    </td>
                    <td v-if="!applicationId">
                        {{item.applicationName}}
                    </td>
                    <td>
                        {{item.createdAtUtc|ago}}
                    </td>
                    <td>
                        {{item.assignedAtUtc|ago}}
                    </td>
                </tr>

            </table>

        </div>
    </div>
</template>

<style src="./menu.css"></style>
<script src="./menu.ts"></script>