/*.router-link-exact-active {
    color: #ffffff;
}

.dropdown-menu .router-link-exact-active {
    color: #333333;
    font-weight: bold;
}

.bg-light .router-link-exact-active {
    color: #333333;
    font-weight: bold;
}*/
td {
    padding-right: 15px;
    padding-top: 5px;
}