<div class="submenu">
  <div class="flex-row">
    <div class="state">
    </div>
    <div class="actions">
      <a routerLinkActive="active" [routerLink]="['/admin']" [routerLinkActiveOptions]="{exact:true}"><i class="fas fa-home"></i> Home</a>
      <a routerLinkActive="active" [routerLink]="['apikeys']"><i class="fas fa-key"></i> Api keys</a>
      <a routerLinkActive="active" [routerLink]="['groups']"><i class="fas fa-users-cog"></i> Groups</a>
      <a routerLinkActive="active" [routerLink]="['whitelists']"><i class="fas fa-list"></i> Domain whitelist</a>
    </div>
  </div>
</div>
