@using Coderr.Server.Abstractions
@{
    ViewBag.Title = "Installation - Completed";
}
<div class="container">
    <div class="col-lg-12">

        <h2>Congratulations!</h2>

        <p>The setup is now completed. Click on the button below to login. This installation wizard is now deactivated.</p>
        <a href="~/" class="btn btn-primary">Start using Coderr</a>
    </div>
</div>