<template>
    <div class="navmenu">
        <div class="navbar navbar-expand-md navbar-dark bg-dark">
            <!--<a class="navbar-brand" href="#">Coderr</a>-->
            <img src="images/navico.png" height="25px" />
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse" v-if="!showMenu">
                <ul class="navbar-nav mr-auto" id="onboardingMenu">
                    <li class="nav-item">
                        <router-link class="nav-link" to="/discover/" :exact="true" v-bind:class="{active: isDiscoverActive}">
                            Onboarding
                        </router-link>
                    </li>
                </ul>
            </div>
            <div class="navbar-collapse collapse" v-if="showMenu">
                <ul class="navbar-nav mr-auto" id="mainMenu">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="mnuCurrentApplication" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{currentApplicationName}}</a>
                        <div class="dropdown-menu">
                            <form class="bg-light mb-4">
                                <nav>
                                    <div class="nav nav-pills groups" id="nav-tab" role="tablist">
                                        <a v-for="group in appGroups" class="nav-item nav-link text-dark" data-toggle="tab" href="#" @click="showApps(group.id)" role="tab" aria-controls="nav-home" aria-selected="true">{{group.name}}</a>
                                    </div>
                                </nav>
                            </form>

                            <a v-on:click.prevent="changeApplication(null)" class="dropdown-item"><i class="fa fa-home"></i> All applications</a>
                            <div class="dropdown-divider"></div>
                            <div v-for="item in myApplications">
                                <a href="#" v-on:click.prevent="changeApplication(item.id)" class="dropdown-item"><i class="fa-desktop fa"></i> {{item.name}}</a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <router-link class="nav-link" :to="discoverLink" id="DiscoverMenu">
                            <span class="fa fa-binoculars"></span> Discover
                        </router-link>
                    </li>
                    <li class="nav-item">
                        <router-link class="nav-link" to="/analyze/" id="AnalyzeMenu">
                            <span class="fa fa-flask"></span> Analyze
                        </router-link>
                    </li>
                    <li class="nav-item">
                        <router-link class="nav-link" :to="{ name:'deploymentHome', params: { 'applicationId': currentApplicationId} }">
                            <span class="fa fa-chart-line"></span> Insights
                        </router-link>
                    </li>
                    <li class="nav-item" v-show="showOnboarding">
                        <router-link class="nav-link text-red" :to="{ name:'onboardNextStep', params: { 'applicationId': currentApplicationId} }">
                            <span class="fa fa-hand-point-right text-red"></span> Onboarding
                        </router-link>
                    </li>
                    <!--<li class="nav-item">
        <a class="nav-link" href="https://coderr.io/features/community/limit">
            <em>{{missedReportsMessage}}</em>
        </a>
    </li>-->
                    <li class="nav-item">
                        <em class="licenseInfo" v-html="licenseText" style="display: block;padding: 0.65rem 1rem; color: #999999;"></em>
                    </li>
                </ul>
                <div class="right-menu">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <router-link :to="{name:'support'}" class="nav-link" title="Contact support">
                                <i class="fa fa-comment"></i>
                            </router-link>
                        </li>
                        <li class="nav-item">
                            <router-link :to="{ name:'manageAccount'}" class="nav-link" title="Account settings">
                                <i class="fa fa-user"></i>
                            </router-link>
                        </li>
                        <li class="nav-item">
                            <router-link :to="{ name:'manageHome', params: {applicationId: currentApplicationId }}" class="nav-link" title="System administration">
                                <i class="fa fa-cog"></i>
                            </router-link>
                        </li>
                        <li class="nav-item">
                            <a href="account/logout/" class="nav-link" title="Log out">
                                <i class="fa fa-power-off"></i>
                            </a>
                        </li>
                    </ul>
                </div>

            </div>


        </div>
        <div v-show="toggleMenu" class="collapse" id="collapseExample">
            <table class="w-100">
                <tr>
                    <td><a v-on:click.prevent="changeApplication(null)" class="dropdown-item"><i class="fa fa-home"></i> All applications</a></td>
                </tr>
                <tr v-for="item in myApplications">
                    <td>
                        <a href="#" v-on:click.prevent="changeApplication(item.id)" class="dropdown-item"><i class="fa-desktop fa"></i> {{item.name}}</a>
                    </td>
                </tr>
            </table>

        </div>
        <!--<div class="navbar-light navbar bg-light">
        <ul class="nav">
            <li class="nav-item" v-for="item in childMenu">
                <router-link class="nav-link" v-bind:to="item.url">
                    <span class="fa" v-bind:class="item.icon"></span> {{item.title}}
                </router-link>
            </li>
        </ul>
    </div>-->
    </div>
</template>

<style src="./navmenu.css"></style>
<script src="./navmenu.ts"></script>