#mainMenu .router-link-active, .right-menu li a.nav-link.router-link-active {
    color: #59c1d5;
}

#mainMenu .dropdown-menu {
    padding-top: 0;
}

#mainMenu .dropdown-menu .nav-link.active {
    color: #59c1d5 !important;
}

#mainMenu .dropdown-menu .groups .nav-item.active {
    color: #fff !important;
    border-radius: 0;
}

*#mainMenu .dropdown-menu .router-link-active {
    color: #000000;
}

.navmenu .nav-link {
    margin-left: 10px;
}

.navmenu .dropdown-menu .router-link-exact-active {
    color: #333333;
    font-weight: bold;
}

.navmenu .bg-light .router-link-exact-active {
    color: #333333;
    font-weight: bold;
}

.navmenu table :hover {
    background-color: #333333;
    color: #f0f0f0;
}

.navmenu table :hover a {
    background-color: #333333;
    color: #f0f0f0;
}