<template>
    <div class="navmenu">
        <div class="navbar navbar-expand-md navbar-dark bg-dark">
            <!--<a class="navbar-brand" href="#">Coderr</a>-->
            <img src="images/navico.png" height="25px"/>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse" v-if="onboarding">
                <ul class="navbar-nav mr-auto" id="onboardingMenu">
                    <li class="nav-item">
                        <router-link class="nav-link" to="/discover/" :exact="true" v-bind:class="{active: isDiscoverActive}">
                            <span class="fa fa-magic"></span> Configure your application
                        </router-link>
                    </li>
                </ul>
            </div>
            <div class="navbar-collapse collapse" v-if="!onboarding">
                <ul class="navbar-nav mr-auto" id="mainMenu">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="mnuCurrentApplication" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{currentApplicationName}}</a>
                        <div class="dropdown-menu">
                            <a v-on:click.prevent="changeApplication(null)" class="dropdown-item"><i class="fa fa-home"></i> All applications</a>
                            <div class="dropdown-divider"></div>
                            <div v-for="item in myApplications">
                                <a href="#" v-on:click.prevent="changeApplication(item.id)" class="dropdown-item"><i class="fa-desktop fa"></i> {{item.name}}</a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <router-link class="nav-link" :to="discoverLink" id="DiscoverMenu">
                            <span class="fa fa-binoculars"></span> Discover
                        </router-link>
                    </li>
                    <li class="nav-item">
                        <router-link class="nav-link" to="/analyze/" id="AnalyzeMenu">
                            <span class="fa fa-flask"></span> Analyze
                        </router-link>
                    </li>
                    <!--<li class="nav-item">
                        <router-link class="nav-link" :to="{ name:'deploymentHome', params: { 'applicationId': currentApplicationId} }">
                            <span class="fa fa-truck"></span> Deployment insights
                        </router-link>
                    </li>-->

                    <li class="nav-item">
                        <a class="nav-link" href="https://coderr.io/features/community/limit">
                            <em>{{missedReportsMessage}}</em>
                        </a>
                    </li>
                </ul>
                <div class="right-menu">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <router-link :to="{name:'support'}" class="nav-link" title="Contact support">
                                <i class="fa fa-comment"></i>
                            </router-link>
                        </li>
                        <li class="nav-item">
                            <router-link :to="{ name:'manageAccount'}" class="nav-link" title="Account settings">
                                <i class="fa fa-user"></i>
                            </router-link>
                        </li>
                        <li class="nav-item">
                            <router-link :to="{ name:'manageHome', params: {applicationId: currentApplicationId }}" class="nav-link" title="System administration">
                                <i class="fa fa-cog"></i>
                            </router-link>
                        </li>
                        <li class="nav-item">
                            <a href="account/logout/" class="nav-link" title="Log out">
                                <i class="fa fa-power-off"></i>
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
        <!--<div class="navbar-light navbar bg-light">
            <ul class="nav">
                <li class="nav-item" v-for="item in childMenu">
                    <router-link class="nav-link" v-bind:to="item.url">
                        <span class="fa" v-bind:class="item.icon"></span> {{item.title}}
                    </router-link>
                </li>
            </ul>
        </div>-->
    </div>
</template>

<style src="./navmenu.css"></style>
<script src="./navmenu.ts"></script>