@{
    ViewBag.Title = "Installation pages disabled";
}

<div class="row">
    <div class="col-lg-6">
        <h2>@ViewBag.Title.</h2>
        <p>
            The installation pages have been disabled. If you need to change the configuration you can do it
            manually in the database or by enable the installation routine again (which will disable OneTrueError
            until you disable the installation routine again).
        </p>
    </div>
</div>