<?xml version="1.0" encoding="utf-8"?>

<log4net>

  <appender name="StandardAppender" type="log4net.Appender.RollingFileAppender">
    <file value=".\logs\CoderrTests.log" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <PreserveLogFileNameExtension value="true" />
    <datePattern value="yyyy-MM-dd" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] – %message%newline" />
    </layout>
  </appender>

  <root>
    <level value="ALL" />
    <appender-ref ref="StandardAppender" />
  </root>
</log4net>