<template>
    <div class="mt-4" id="ManageView">
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <form>
                    <div class="cadrd">
                        <div class="display-4 mb-3">User settings</div>
                        <div>
                            <p>User specific settings.</p>
                            <div class="card">
                                <div class="card-header">
                                    <h5>Email address</h5>
                                </div>
                                <div class="card-body">
                                    <p>Must be the same email address as in the work planning system (Jira, Azure DevOps) etc for the integration to work properly</p>
                                    <div>
                                        <input type="email" v-model="workEmail" value="" required="" />
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <button class="btn btn-blue" @click.prevent="saveSettings">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col">
                <form>
                    <div class="display-4 mb-3">
                        Notification settings
                    </div>
                    <div>
                        <p>
                            Enable notifications to get notified directly when something important happens.
                        </p>
                        <div v-if="deniedPushNotification" class="alert alert-red">
                            You have denied push notifications from Coderr. Edit the notification settings in your browser.
                        </div>
                        <div v-if="pushNotificationRequest" class="alert alert-blue">
                            Look for the notification request in your browser (prompt or icon in the address bar).
                        </div>
                        <div class="card-group">
                            <div class="card ">
                                <div class="card-header">New incident</div>
                                <div class="card-body">
                                    <p>Notify when a new incident have been received (only active for errors in your production environments).</p>
                                </div>
                                <div class="card-footer">
                                    <label v-if="applicationId">
                                        <input type="radio" value="1" v-model.number="notifyOnNewIncidents" checked> Default
                                    </label>
                                    <label>
                                        <input type="radio" value="2" v-model.number="notifyOnNewIncidents"> Disabled
                                    </label>
                                    <label>
                                        <input type="radio" value="4" v-model.number="notifyOnNewIncidents"> Email
                                    </label>
                                    <label>
                                        <input type="radio" value="5" v-model.number="notifyOnNewIncidents"> Browser notification
                                    </label>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    Important incident
                                </div>
                                <div class="card-body">
                                    <p>Notify when an existing incident is escalated to important. <a href="https://coderr.io/documentation/features/recommendations">Learn more.</a></p>
                                </div>
                                <div class="card-footer">
                                    <label v-if="applicationId">
                                        <input type="radio" value="1" v-model.number="notifyOnImportantIncidents" checked> Default
                                    </label>
                                    <label>
                                        <input type="radio" value="2" v-model.number="notifyOnImportantIncidents"> Disabled
                                    </label>
                                    <label>
                                        <input type="radio" value="4" v-model.number="notifyOnImportantIncidents"> Email
                                    </label>
                                    <label>
                                        <input type="radio" value="5" v-model.number="notifyOnImportantIncidents"> Browser notification
                                    </label>
                                </div>
                            </div>
                            <div class="card">

                                <div class="card-header">Critical incident</div>
                                <div class="card-body">
                                    <p>Notify when an existing incident is escalated from important to critical. <a href="https://coderr.io/documentation/features/recommendations">Learn more.</a></p>
                                </div>
                                <div class="card-footer">
                                    <label v-if="applicationId">
                                        <input type="radio" value="1" v-model.number="notifyOnCriticalIncidents" checked> Default
                                    </label>
                                    <label>
                                        <input type="radio" value="2" v-model.number="notifyOnCriticalIncidents"> Disabled
                                    </label>
                                    <label>
                                        <input type="radio" value="4" v-model.number="notifyOnCriticalIncidents"> Email
                                    </label>
                                    <label>
                                        <input type="radio" value="5" v-model.number="notifyOnCriticalIncidents"> Browser notification
                                    </label>
                                </div>
                            </div>


                            <div class="card">
                                <div class="card-header">Report spike</div>
                                <div class="card-body">
                                    <p>Notify when an application gets an unusual high volume of error reports (over the 85th percentile).</p>
                                </div>
                                <div class="card-footer">
                                    <label v-if="applicationId">
                                        <input type="radio" value="1" v-model.number="notifyOnPeaks" checked> Default
                                    </label>
                                    <label>
                                        <input type="radio" value="2" v-model.number="notifyOnPeaks"> Disabled
                                    </label>
                                    <label>
                                        <input type="radio" value="4" v-model.number="notifyOnPeaks"> Email
                                    </label>
                                    <label>
                                        <input type="radio" value="5" v-model.number="notifyOnPeaks"> Browser notification
                                    </label>
                                </div>

                            </div>


                            <div class="card">
                                <div class="card-header">Re-opened incident</div>
                                <div class="card-body">
                                    <p>Notify when a closed incident is reopened (an error report is received in a newer application version than the one that you closed the incident for).</p>
                                </div>
                                <div class="card-footer">
                                    <label v-if="applicationId">
                                        <input type="radio" value="1" v-model.number="notifyOnReOpenedIncident" checked> Default
                                    </label>
                                    <label>
                                        <input type="radio" value="2" v-model.number="notifyOnReOpenedIncident"> Disabled
                                    </label>
                                    <label>
                                        <input type="radio" value="4" v-model.number="notifyOnReOpenedIncident"> Email
                                    </label>
                                    <label>
                                        <input type="radio" value="5" v-model.number="notifyOnReOpenedIncident"> Browser notification
                                    </label>
                                </div>

                            </div>

                            <div class="card">
                                <div class="card-header">New user feedback</div>
                                <div class="card-body">
                                    <p>An user have written an error report for an incident.</p>
                                </div>
                                <div class="card-footer">
                                    <label v-if="applicationId">
                                        <input type="radio" value="1" v-model.number="notifyOnUserFeedback"> Default
                                    </label>
                                    <label>
                                        <input type="radio" value="2" v-model.number="notifyOnUserFeedback"> Disabled
                                    </label>
                                    <label>
                                        <input type="radio" value="4" v-model.number="notifyOnUserFeedback"> Email
                                    </label>
                                    <label>
                                        <input type="radio" value="5" v-model.number="notifyOnUserFeedback"> Browser notification
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <button class="btn btn-blue" @click.prevent="save">Save notification settings</button>
                </form>
            </div>
        </div>
    </div>
</template>


<style src="./home.css"></style>
<script src="./home.ts"></script>