@model OneTrueError.Api.Core.ApiKeys.Queries.GetApiKeyResult
@{
    ViewBag.Title = "Api key";
}


<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2>Api key</h2>
            <div>
                <p>
                    To invoke the server API pass the API key in a HttpHeader called <code>X-Api-Key</code>. Use the shared secret to calculate a HMAC signature on the HTTP Request body and include it in the http header <code>X-Api-Signature</code>.
                </p>
                <hr/>
                <dl class="dl-horizontal">
                    <dt>Api key</dt>
                    <dd>@Model.GeneratedKey</dd>
                    <dt>Shared secret</dt>
                    <dd>@Model.SharedSecret</dd>
                    <dt>Created by</dt>
                    <dd></dd>

                </dl>
            </div>
            <hr/>
            <div>
                <h3>Authorized applications</h3>
                <p>The key is authorized to modify the following applications:</p>
                <ul>
                    @foreach (var app in Model.AllowedApplications)
                    {
                        <li>@app.ApplicationName</li>
                    }
                </ul>
            </div>

            <h3>Signing example</h3>
            <pre><code>var hmac = new HMACSHA256(Encoding.UTF8.GetBytes(_sharedSecret));
var hash = hmac.ComputeHash(httpBodyAsByteArray);
var signature = Convert.ToBase64String(hash);
</code></pre>
            <div>
                <hr/>
                <form action="@Url.Action("Delete", new {id = Model.Id})" id="delete-form">
                    <button class="btn btn-danger">DELETE</button>
                    <label>
                        <input type="checkbox" value="1" name="verification"/> Yes I'm sure<br/>
                    </label>
                </form>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script>
        $('#delete-form')
            .submit(function(e) {
                var chkbox = $('input[type="checkbox"]', this);
                var isChecked = $(chkbox).is(':checked');
                if (!isChecked) {
                    alert("Be sure, or don't do it.");
                    e.preventDefault();
                }
            });
    </script>
}