<template>
    <div class="mt-4">
        <div class="row">
            <div class="col-lg-8 members">
                <div class="card">
                    <div class="card-header">
                        Application security [{{applicationName}}]
                    </div>
                    <div class="card-body">
                        <h3>Admins</h3>
                        <table class="">
                            <tr v-for="admin in admins">
                                <td>
                                    <span class="fa fa-users text-blue" v-if="admin.Type == 'adgroup'"></span>
                                    <span class="fa fa-user text-blue" v-else></span>
                                    {{admin.name}}
                                </td>
                                <td>
                                    <a href="#" @click.prevent="removeAdmin(admin.id)" v-if="admins.length > 1" title="Downgrade to regular member"><i class="fa fa-hand-point-down text-warning"></i></a>
                                </td>
                            </tr>
                        </table>
                        <h3>Members</h3>
                        <table class="">
                            <tr v-for="member in members">
                                <td>
                                    <span class="fa fa-users text-blue" v-if="member.Type == 'adgroup'"></span>
                                    <span class="fa fa-user text-blue" v-else></span>
                                    {{member.name}}
                                </td>
                                <td>
                                    <a href="#" @click.prevent="addAdmin(member.id)" title="Make admin"><i class="fa fa-hand-point-up text-success"></i></a>
                                    <a href="#" @click.prevent="removeMember(member.id)"><i class="fa fa-trash text-danger"></i></a>
                                </td>
                            </tr>
                        </table>
                        <div v-if="members.length == 0">
                            <em>No members have been added.</em>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-header">Add team members</div>
                    <div class="card-body">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="byad-tab" data-toggle="tab" href="#inviteByAd" role="tab" aria-controls="home" aria-selected="true">By Active Directory</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="byemail-tab" data-toggle="tab" href="#inviteByEmail" role="tab" aria-controls="profile" aria-selected="false">By email</a>
                            </li>
                        </ul>
                        <div class="tab-content p-2" id="myTabContent">
                            <div class="tab-pane fade show active" id="inviteByAd" role="tabpanel" aria-labelledby="byad">
                                <form @submit.prevent="findAd">
                                    <div class="form-group">
                                        <label class="label">Search</label>
                                        <input type="text" v-model="adSearch.text" class="form-control" placeholder="Account name (search)" /><br />
                                        <div v-if="premisePlus">
                                            <label><input type="checkbox" v-model="adSearch.findUsers" value="1" /> Users</label>
                                            <label>
                                                <input type="checkbox" v-model="adSearch.findGroups" value="1" /> Groups
                                            </label>
                                        </div>
                                        <div>
                                            <button class="btn btn-primary">Search</button>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div data-name="ad-result" v-if="adSearchResult.length > 0">
                                            <label>Result</label>
                                            <table class="w-100">
                                                <tr v-for="item in adSearchResult">
                                                    <td>
                                                        <span class="fa fa-user" v-if="item.Type == 'User'"></span>
                                                        <span class="fa fa-users" v-else></span>
                                                        {{item.Name}}
                                                    </td>
                                                    <td>{{item.FullName}}</td>
                                                    <td>
                                                        <a title="Add user/group to team" :href="'#' + item.Sid" @click.prevent="addAdItem(item)"><i class="fa fa-plus text-success"></i></a>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="tab-pane fade" id="inviteByEmail" role="tabpanel" aria-labelledby="byemail">
                                <form @submit.prevent="inviteUser($event)">
                                    <input type="email" class="form-control" v-model="inviteEmail" placeholder="Email address" style="display: inline; width: auto;" required="" />
                                    <input type="submit" value="Invite member" class="btn btn-primary" />
                                </form>

                                <hr />
                                <table class="table table-borderless" v-if="invites.length > 0">
                                    <tr v-for="member in invites">
                                        <td>
                                            {{member.EmailAddress}}
                                        </td>
                                        <td>
                                            <a href="#" @click.prevent="removeInvitation(member.EmailAddress)"><i class="fa fa-trash"></i></a>
                                        </td>
                                    </tr>
                                </table>
                                <div v-if="invites.length == 0">
                                    <em>(No pending invites)</em>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</template>


<style src="./security.css"></style>
<script src="./security.ts"></script>