@import "coderr-variables.scss";

.table {
  table-layout: fixed;
  display: table;

  thead tr {
    background-color: $bg-secondary;

    &.dark {
      color: $light;
    }


    th {
      text-align: left;
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }

  &.striped tbody {
    tr:nth-child(even) {
      background-color: lighten($bg-primary, 25%);
    }
  }

  &.dark {
    color: $light;
  }


  tbody tr td {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
