<template>
    <div class="m-4" v-if="showWelcome">
        <div class="row">
            <div class="col">
                <h1>Analyze</h1>
                <p class="lead">This section allows you to analyze the incidents that you have decided to work with.</p>
                <p class="lead">To see incidents here, go to "Discover" and assign one or more incidents to yourself.</p>
                <a href="https://coderr.io/documentation/features/analyze/" target="documentation" class="btn btn-blue">Learn more about this feature</a>
                <a href="https://coderr.io/documentation/getting-started/" target="documentation" class="btn btn-blue">Read the getting started article</a>
            </div>

        </div>
    </div>
</template>


<style src="./home.css"></style>
<script src="./home.ts"></script>