<template>
    <div class="mt-4" v-if="noIncidents">
        <div class="row">
            <div class="col">
                <h1>Analyze</h1>
                <p class="lead">This section allows you to analyze the incidents that you have decided to work with.</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2>Getting started</h2>
                <div style="width: 250px; height: 200px; background: azure; text-align: center; padding-top: 75px; display: inline-block">video placeholder</div>
                <p>To get started, view the video above or click on the guide link below.</p>
                <a class="btn btn-primary" href="#">Report errors</a>
            </div>
            <div class="col">
                <h2>What you see is what you get</h2>
                <div style="width: 250px; height: 200px; background: azure; text-align: center; padding-top: 75px; display: inline-block">video placeholder</div>
                <p class="">
                    The video above demonstrates what you can expect to find on this page once you have received a couple of errors.
                </p>
                <a class="btn btn-primary" href="">View features</a>
            </div>
        </div>
    </div>
</template>


<style src="./home.css" />
<script src="./home.ts"></script>