<template>
    <div class="mt-4" v-if="noIncidents">
        <div class="row">
            <div class="col">
                <h1>Analyze</h1>
                <p class="lead">This section allows you to analyze the incidents that you have decided to work with.</p>
                <p class="lead">But since you have not reported any errors yet, there is nothing to see here..</p>
                <a href="https://coderr.io/documentation/features/analyze/" target="documentation" class="btn btn-primary">Learn more about this feature</a>
                <a href="https://coderr.io/documentation" target="documentation" class="btn btn-primary">Read the reporting error guide</a>
            </div>
        </div>
    </div>
</template>


<style src="./home.css" />
<script src="./home.ts"></script>