@model OneTrueError.Web.Models.Account.RequestPasswordResetViewModel

@{
    ViewBag.Title = "Password reset email sent";
}


<div class="row">
    <div class="col-xs-12">
        <h1>Email sent</h1>
        <p>You will shortly receive a password reset email (if the specified address exists in our system).</p>
    </div>
</div>