<template>
    <div class="mt-4">
        <div class="col-lg-12">
            <div class="card" v-if="!sent">
                <div class="card-header">Get help</div>
                <div class="card-body">
                    <textarea class="form-control" v-model="message" placeholder="Describe your problem" rows="10" id="SupportMessage" autofocus=""></textarea>
                    <button class="btn btn-primary" v-on:click.prevent="sendMessage">Send</button>
                    <em>
                        This message will be sent to the one responsible of this Coderr installation.
                    </em>
                </div>
            </div>
            <div class="card" v-if="sent">
                <div class="card-header">Support</div>
                <div class="card-body">
                    <div class="alert-info alert">
                        <em>
                            Support request have been sent
                        </em>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<style src="simplemde/dist/simplemde.min.css"></style>
<style src="./support.css"></style>
<script src="./support.ts"></script>