<template>
    <div class="mt-4 PartitionVue">
        <div class="row">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header">Edit partition</div>
                    <div class="card-body">
                        <form @submit.prevent="updatePartition">
                            <div class="form-group">
                                <label>
                                    Title
                                </label>
                                <input type="text" v-model="title" class="form-control" placeholder="Title (display name) i.e. 'Affected users'" required="required" />
                            </div>
                            <div class="form-group">
                                <label>
                                    Partition key
                                </label>
                                <input type="text" v-model="partitionKey" class="form-control" placeholder="" readonly="readonly" />
                                <em class="small">Telemetry key used to collect affected items from error reports.</em>
                            </div>
                            <div class="form-group">
                                <label>
                                    Total quantity (Optional)
                                </label>
                                <input type="number" v-model="numberOfItems" class="form-control" placeholder="i.e. '2000' for 2000 users" />
                                <em class="small">Total quantity that your application serve.</em>
                            </div>
                            <div class="form-group">
                                <label>
                                    Important threshold (Optional)
                                </label>
                                <input type="number" v-model="importantThreshold" class="form-control" value="" placeholder="Number of items, i.e. '200' for affected users." />
                                <em class="small">Amount of affected items before an incident is considered to be important.</em>
                            </div>
                            <div class="form-group">
                                <label>
                                    Critical threshold (Optional)
                                </label>
                                <input type="number" v-model="criticalThreshold" class="form-control" value="1" placeholder="Number of items, i.e. '500' for affected users." />
                                <em class="small">Amount of affected items before an incident is considered to be critical.</em>
                            </div>
                            <div class="form-group">
                                <label>
                                    Weight
                                </label>
                                <input type="number" v-model="weight" class="form-control" value="1" placeholder="i.e. 10" required="required" />
                                <em class="small">How important this partition is compared to others. 1 = equally important, 10 = much more important.</em>
                            </div>
                            <div>
                                <input type="submit" class="btn btn-primary btn-block" value="Save changes" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>


<style src="./edit.css"></style>
<script src="./edit.ts"></script>