<template>
    <div class="mt-4 PartitionVue">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="card">
                    <div class="card-header">
                        Partitions
                        <div class="float-right">
                            <router-link class="btn-sm btn btn-outline-primary" :to="{ name: 'createPartition', params: {applicationId: applicationId }}">Create new</router-link>
                        </div>

                    </div>
                    <div class="card-body">
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Key</th>
                                    <th>Weight</th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="partition in partitions">
                                    <td>{{partition.Name}}</td>
                                    <td>{{partition.PartitionKey}}</td>
                                    <td>{{partition.Weight}}</td>
                                    <td>
                                        <router-link :to="{name: 'editPartition', params: {partitionId: partition.Id, applicationId: applicationId }}">
                                            <i class="fa fa-edit text-primary"></i>
                                        </router-link>
                                        <a href="#" @click.prevent="deletePartition(partition.Id)">
                                            <i class="fa fa-trash text-danger"></i>
                                        </a>

                                    </td>
                                </tr>
                            </tbody>
                            <tfoot v-if="partitions.length == 0" class="">
                                <tr>
                                    <td colspan="4">
                                        No partitions have been created
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                        <em>
                            Partitions are used to prioritize incidents based in operational aspects that are important to you.
                            <a href="https://coderr.io/documentation/client/partitions/" target="_self">Read more</a>
                        </em>

                    </div>
                </div>
            </div>
        </div>
    </div>
</template>


<style src="./partition.css"></style>
<script src="./partition.ts"></script>