<template>
    <div class="mt-4">
        <form @submit.prevent="save">
            <div class="row">
                <div class="col">
                    <h2>Azure DevOps connection [{{applicationName}}]</h2>
                </div>
            </div>
            <div class="row">

                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            Connection settings
                        </div>
                        <div class="card-body">
                            <div v-show="hangOn" class="alert alert-blue">Attempting to connect, hang on...</div>
                            <div v-show="showConnectError" class="alert-red alert">Failed to connect to Azure Devops using the specified settings.</div>
                            <div class="form-group">
                                <label>
                                    Azure DevOps API url
                                </label>
                                <input type="text" class="form-control" v-model="url" autofocus="autofocus" required="required" value="https://dev.azure.com/your_organization_name" />
                                <em class="small">Typically "https://dev.azure.com/yourOrganizationName/"</em>
                            </div>
                            <div class="form-group">
                                <label>
                                    Personal access token
                                </label>
                                <input type="text" class="form-control" placeholder="" v-model="personalAccessToken" required="required" />
                                <em class="small">Required to be able to connect. Work item access is enough when creating it in Azure DevOps.</em>
                                <a href="#">documentation</a>
                            </div>
                            <div class="form-group" v-show="!isConnected">
                                <button class="btn btn-primary" @click.prevent="tryConnect()" type="button">Try connect</button>
                            </div>
                            <div class="alert alert-blue" v-show="!isConnected">Configure settings above and click "Try connect"</div>
                            <fieldset v-bind:disabled="!isConnected">
                                <div class="form-group">
                                    <label>
                                        Project
                                    </label>
                                    <select class="form-control" v-model="project" required="required" @change="onProjectChanged()">
                                        <option v-for="option in projects" :value="option">
                                            {{ option.text }}
                                        </option>
                                    </select>
                                    <em class="small">Project that bugs should be added to.</em>
                                </div>
                                <div class="form-group">
                                    <label>
                                        Area path
                                    </label>
                                    <select class="form-control" v-model="areaPath">
                                        <option v-for="option in areas" :value="option">
                                            {{ option.text }}
                                        </option>
                                    </select>
                                    <em class="small">Area that new bugs should be placed in.</em>
                                </div>

                                <div class="form-group">
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            State synchronization
                        </div>
                        <div class="card-body">
                            <fieldset v-bind:disabled="!isConnected">
                                <p>These fields are used when synchronizing errors between Coderr and Azure DevOps. Make sure that they are correct, or the two-way synchronization wont work.</p>

                                <div class="form-group">
                                    <label>
                                        Work item type
                                    </label>
                                    <select class="form-control" v-model="workItemTypeName" @change="onWorkItemTypeChanged()">
                                        <option v-for="name in workItemTypes" :value="name">
                                            {{ name }}
                                        </option>
                                    </select>
                                    <em class="small">Which type of work item should be created for incidents?</em>
                                </div>
                                <fieldset v-bind:disabled="!isWorkItemTypeSelected">
                                    <div class="form-group">
                                        <label>
                                            Assigned an incident
                                        </label>
                                        <select class="form-control" v-model="assignedStateName">
                                            <option v-for="name in stateTypes" :value="name">
                                                {{ name }}
                                            </option>
                                        </select>
                                        <em class="small">Value used when assigning a work item.</em>
                                    </div>
                                    <div class="form-group">
                                        <label>
                                            Solving an incident
                                        </label>
                                        <select class="form-control" v-model="closedStateName">
                                            <option v-for="name in stateTypes" :value="name">
                                                {{ name }}
                                            </option>
                                        </select>
                                        <em class="small">Value used when solving a work item.</em>
                                    </div>
                                    <div class="form-group">
                                        <label>
                                            Closing an incident
                                        </label>
                                        <select class="form-control" v-model="solvedStateName">
                                            <option v-for="name in stateTypes" :value="name">
                                                {{ name }}
                                            </option>
                                        </select>
                                        <em class="small">State when a work item is closed directly (can be same as when solving in some process templates).</em>
                                    </div>
                                </fieldset>
                            </fieldset>
                        </div>
                    </div><div class="card">
                        <div class="card-header">
                            Error escalation
                        </div>
                        <div class="card-body">
                            <fieldset v-bind:disabled="!isConnected">
                                <p>Should work items be created when Coderr escalates errors?</p>
                                <div class="form-group">
                                    <input type="checkbox" v-model="autoAddImportant" id="autoAddImportant" />
                                    <label for="autoAddImportant">
                                        Auto-add errors escalated to "important".
                                    </label>
                                    <br />
                                    <em class="small">When an error is escalated, create a bug in the backlog.</em>
                                </div>
                                <div class="form-group">
                                    <input type="checkbox" v-model="autoAddCritical" id="autoAddCritical" />
                                    <label for="autoAddCritical">
                                        Auto-add errors escalated to "critical".
                                    </label>
                                    <br />
                                    <em class="small">When an error is escalated, create a bug in the backlog.</em>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <input type="submit" value="Save settings" class="btn btn-primary" />
                    <button class="btn-red btn" @click.prevent="removeIntegration" v-show="isSaved">Remove integration</button>
                </div>
            </div>
        </form>
    </div>
</template>


<style src="./connection.css"></style>
<script src="./connection.ts"></script>