<div class="card-box">
    <h1>Welcome</h1>
    <p class="lead">Congratulations on installing codeRR!</p>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="card-box">
            <h2>Quick start</h2>
            <div>
                <p>The first thing you need to do is to add one or more applications. It's done through the hamburger menu top/right. You can also rename "DemoApp" through that menu.</p>
                <p>Once done, you can invite team members under the application menu to the left.</p>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card-box">
            <h2>About codeRR</h2>
            <p>
                codeRR is a client/server application where the clients (nuget packages) detect and capture exceptions together
                with contextual information (such as thread info, app info etc). That information is then uploaded to the codeRR server
                for analysis.
            </p>
            <p>
                If you want to learn more, read our <a href="https://coderrapp.com/documentation">documentation</a>. Features and
                suggestions are welcome in our <a href="http://discuss.coderrapp.com/">community</a>
            </p>
        </div>
    </div>
</div>