<div class="jumbotron">
    <h1>Welcome</h1>
    <p class="lead">Congratulations to taking the first step to less painful exception handling.</p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Quick start</h2>
        <p>The first thing you need to do is to create an application. Just fill in the details below</p>
        <form method="POST" action="" id="CreateAppForm">
            <div class="form-group">
                <label for="appName">Name</label>
                <input type="text" class="form-control" id="appName" name="appName" placeholder="Enter application name">
            </div>
            <div class="form-group">
                <label for="hostType">Host type</label>
                <select class="form-control" name="hostType" id="hostType">
                    <option value=""></option>
                    <option value="Mobile">Mobile device</option>
                    <option value="DesktopApplication" selected="selected">Desktop PC</option>
                    <option value="Server">Server</option>
                </select>
            </div>
            <input type="submit" class="btn btn-lg btn-info" value="Create application"/>
        </form>
    </div>

    <div class="col-md-12" style="display: none" id="appDetails">
        <h2>Configure your application</h2>
        <p>
            The codeRR client is installed through <a href="https://www.nuget.org/packages?q=coderr.client">nuget</a>. There is a core package that can be used to manually report exceptions no matter what kind of .NET application you have. The true power comes with the integration libraries, as they collect a rich set of context information which makes makes it a pure joy to figure out why the exception happened.
        </p>
        <p>
            Install one of the packages and then click on the correct one below to get configuration instructions.
        </p>
        <div>
            <ul class="nav nav-pills">
                <li class="btn btn-lg btn-info" data-type="">Manual reporting</li>
                <li class="btn btn-lg btn-info" data-type="wcf">WCF</li>
                <li class="btn btn-lg btn-info" data-type="winforms">WinForms</li>
                <li class="btn btn-lg btn-info" data-type="aspnet">ASP.NET (vanilla)</li>
                <li class="btn btn-lg btn-info" data-type="mvc4">ASP.NET MVC</li>
                <li class="btn btn-lg btn-info" data-type="webapi2">ASP.NET WebApi2</li>
            </ul>
</div>
        <div style="display: none" data-instruction="wcf">
            <code><pre>// Configure credentials
var uri = new Uri("https://report.coderrapp.com");
OneTrue.Configuration.Credentials(uri,
                                  "<span data-name="appKey"></span>",
                                  "<span data-name="sharedSecret"></span>");

// catch unhandled exceptions
OneTrue.Configuration.CatchWcfExceptions();</pre></code>
        </div>
        <div style="display: none" data-instruction="winforms">
            <code>
                <pre>// Configure credentials
var uri = new Uri("https://report.coderrapp.com");
                    OneTrue.Configuration.Credentials(uri,
                                  "<span data-name="appKey"></span>",
                                  "<span data-name="sharedSecret"></span>");

// catch unhandled exceptions
OneTrue.Configuration.CatchWinFormsExceptions();</pre>
            </code>
        </div>
        <div style="display: none" data-instruction="aspnet">
            <code>
                <pre>// Configure credentials
var uri = new Uri("https://report.coderrapp.com");
                    OneTrue.Configuration.Credentials(uri,
                                  "<span data-name="appKey"></span>",
                                  "<span data-name="sharedSecret"></span>");
// catch unhandled exceptions
OneTrue.Configuration.CatchAspNetExceptions();</pre>
            </code>
        </div>
        <div style="display: none" data-instruction="mvc4">
            <code>
                <pre>// Configure credentials
var uri = new Uri("https://report.coderrapp.com");
                    OneTrue.Configuration.Credentials(uri,
                                  "<span data-name="appKey"></span>",
                                  "<span data-name="sharedSecret"></span>");
// catch unhandled exceptions
OneTrue.Configuration.CatchMvcExceptions();</pre>
            </code>
        </div>
        <div style="display: none" data-instruction="webapi2">
            <code>
                <pre>// Configure credentials
var uri = new Uri("https://report.coderrapp.com");
                    OneTrue.Configuration.Credentials(uri,
                                  "<span data-name="appKey"></span>",
                                  "<span data-name="sharedSecret"></span>");
// catch unhandled exceptions
OneTrue.Configuration.CatchWebApiExceptions();</pre>
            </code>
        </div>            
    </div>
</div>