<div class="row">
    <div class="col-lg-6 col-md-12">
        <div class="card-box">
            <div id="PersonalSettings">
                <h3>User information</h3>
                <p>
                    <em>Your cellphone number is only required if you activate notifications.</em>    
                </p>
                
                <div class="form-group">
                    <label for="FirstName"class="control-label">First name</label>
                    <div>
                        <input type="text"class="form-control" id="FirstName" placeholder="First name" data-name="FirstName">
                    </div>
                </div>
                <div class="form-group">
                    <label for="LastName"class="control-label">Last name</label>
                    <div>
                        <input type="text"class="form-control" id="LastName" placeholder="Last name" data-name="LastName">
                    </div>
                </div>
                <div class="form-group">
                    <label for="EmailAddress"class="control-label">Email address</label>
                    <div>
                        <input type="email"class="form-control" id="EmailAddress" placeholder="Email address" data-name="EmailAddress">
                    </div>
                </div>

                <div class="form-group">
                    <label for="MobileNumber"class="control-label">Cellphone Number</label>
                    <div>
                        <input type="tel"class="form-control" id="MobileNumber" placeholder="Cellphone number" data-name="MobileNumber">
                        <p class="help-block">Use E.164 format (+&lt;countryCode&gt;&lt;number&gt;). Example: +4670123456</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label"></label>
                    <div>
                        <button type="submit"class="btn btn-primary" name="saveSettings">Update settings</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-12">
        <div class="card-box">
            <div id="PasswordView">
                <h3>Change password</h3>
                <p>
                    &nbsp;
                </p>
                <div class="form-group">
                    <label for="CurrentPassword"class="form-control-label">Enter current password</label>
                    <div>
                        <input type="password"class="form-control" name="CurrentPassword" placeholder="Current password">
                    </div>
                </div>
                <div class="form-group">
                    <label for="NewPassword"class="control-label">New password</label>
                    <div>
                        <input type="password"class="form-control" name="NewPassword" placeholder="New password">
                    </div>
                </div>
                <div class="form-group">
                    <label for="NewPassword2"class="control-label">Repeat new password</label>
                    <div>
                        <input type="password"class="form-control" name="NewPassword2" placeholder="Re-type your new password">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label"></label>
                    <div>
                        <button type="button"class="btn btn-primary" name="changePassword">Change password</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
    </div>
</div>
