<template>
    <div class="mb-3" id="manageMenu">
        <div class="navbar-light navbar bg-light">
            <ul class="nav">
                <router-link tag="li" class="nav-item" :to="{name: 'manageApp', params: {applicationId: currentApplicationId.toString() }}" exact>
                    <a class="nav-link"><i class="fa fa-cog"></i> Settings</a>
                </router-link>
                <router-link tag="li" class="nav-item" :to="{name: 'manageAppTeam', params: {applicationId: currentApplicationId.toString() }}">
                    <a class="nav-link"><i class="fa fa-users"></i> Security</a>
                </router-link>
                <router-link tag="li" class="nav-item" :to="{name: 'managePartitions', params: {applicationId: currentApplicationId.toString() }}">
                    <a class="nav-link"><i class="fa fa-graduation-cap"></i> Prioritization</a>
                </router-link>
                <router-link tag="li" class="nav-item" :to="{name: 'manageApiKeys', params: {applicationId: currentApplicationId.toString() }}">
                    <a class="nav-link"><i class="fa fa-exchange-alt"></i> Api keys</a>
                </router-link>
            </ul>
        </div>
    </div>
</template>

<style src="./menu.css" />
<script src="./menu.ts"></script>