<template>
    <div class="mb-3" id="manageMenu">
        <div class="navbar-light navbar bg-light">
            <ul class="nav">
                <router-link tag="li" class="nav-item" :to="{name: 'manageApp', params: {applicationId: currentApplicationId.toString() }}" exact>
                    <a class="nav-link"><i class="fa fa-binoculars"></i> Overview</a>
                </router-link>
                <router-link tag="li" class="nav-item" :to="{name: 'manageAppTeam', params: {applicationId: currentApplicationId.toString() }}">
                    <a class="nav-link"><i class="fa fa-gamepad"></i> Control</a>
                </router-link>
            </ul>
        </div>
    </div>
</template>

<style src="./menu.css" />
<script src="./menu.ts"></script>