@using Coderr.Server.Web.Areas.Installation.Models
@model Coderr.Server.Web.Areas.Installation.Models.EmailViewModel
@{
    ViewBag.Title = "Installation - Email configuration";
}
<div class="container">
    <div class="col-lg-8 offset-lg-2 col-md-12">

        <h2>Email configuration</h2>
        <p>
            Coderr can send email notifcations upon different types of events (and password resets etc). To do this, Community Server need
            to have a SMTP account for mailing.
        </p>
        <form method="post" action="@Url.Action("Email")" class="form">
            @Html.ValidationSummary(false)
            <div class="form-group">
                <label asp-for="SmtpHost">SMTP Server</label>
                <input asp-for="SmtpHost" placeholder="IP Address or host name" class="form-control" autofocus="autofocus"/>
                <input asp-for="UseSSL" type="checkbox"/> Use SSL
            </div>
            <div class="form-group">
                <label asp-for="PortNumber">Port number</label>
                <input asp-for="PortNumber" type="number" placeholder="Port number. Typically 25 for SMTP and 587 for ESMTPS. Consult your mail server configuration." class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="AccountName">SMTP Account name</label>
                <input asp-for="AccountName" placeholder="SMTP Server account name (empty = no authentication)" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="AccountPassword">SMTP Account password</label>
                <input asp-for="AccountPassword" placeholder="Password for the above account" autocomplete="new-password" type="password" class="form-control" />
            </div>
            <div class="form-group">
                <label for="Password2">Password verification</label>
                <input name="Password2" id="Password2" placeholder="Password for the above account" autocomplete="new-password2" type="password" class="form-control" />
                <!--https://stackoverflow.com/questions/15738259/disabling-chrome-autofill-->
                <div class="text-red" id="PasswordError"></div>
            </div>
            <br/>
            @Html.Raw(ViewBag.PrevLink)
            <input type="submit" class="btn btn-primary" value="Save"/>
            @Html.Raw(ViewBag.NextLink)
        </form>
    </div>
</div>
@section scripts
{
    <partial name="_JQueryReplacement" />
    <script>
        $("#Password2")
            .keyup(function(e) {
                if ($('#AccountPassword').val() !== $('#Password2').val()) {
                    $('#PasswordError').html("Passwords to not match.");
                } else {
                    $('#PasswordError').html("");
                }
            })
    </script>
}