<template>
    <div class="IncidentView">
        <div v-if="isEmpty">
            <div>
                <h1>Nothing to see here</h1>
                <p>Looks like no incidents have been uploaded yet.</p>
            </div>
            <div>
                <h1>What to expect</h1>
                <p>Once everything is configured, you can expect something like this:</p>
                <p>SCREENSHOT</p>
                <p><a class="btn btn-primary" href="#">Learn more here</a></p>
            </div>
        </div>
        <div v-else>
            <div class="row mb-2">
                <div class="col">
                    <div class="float-right">

                    </div>

                    <h3>{{incident.Description}} <span class="lead text-muted">[{{incident.FullName}}]</span></h3>


                    <div class="tags">
                        <span v-for="tag in incident.Tags" class="badge badge-dark">{{tag}}</span>
                    </div>
                    <div class="dropdown">
                        <button type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Actions
                        </button>
                        <div class="dropdown-menu">
                            <span class="dropdown-item" v-on:click="reAssign"><i class="fa-redo fa text-muted"></i> Re-assign</span>
                            <span class="dropdown-item" v-on:click="addToTfs"><i class="fa-code-branch fa text-muted"></i> Add to TFS/VSTS</span>
                            <span class="dropdown-item" v-on:click="closeIncident"><i class="fa-lock fa text-muted"></i> Close incident</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-8 col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <h3>Stack trace</h3>
                            <pre style="min-height: 200px"><code>{{incident.StackTrace}}</code></pre>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6">
                    <div class="card" v-if="incident.Facts && incident.Facts.length > 0">
                        <div class="card-body">
                            <h3>Quick facts</h3>
                            <div>
                                <table class="table table-borderless">
                                    <tbody>
                                        <tr v-for="prop in incident.Facts" v-if="prop.Value != '0'">
                                            <td>{{prop.Title}}</td>
                                            <td>{{prop.Value}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <h3>Context collections</h3>
                            <div>
                                <div class="dropdown" style="display: inline">
                                    <button type="button" class="btn btn-light dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        {{currentReportName}}
                                    </button>
                                    <div class="dropdown-menu">
                                        <h6 class="dropdown-header">Select report</h6>
                                        <div v-for="report in reports">
                                            <a class="dropdown-item" href="#" v-on:click.prevent="loadReport(report.Id)"><i class="fa-desktop fa text-muted"></i> {{report.CreatedAtUtc|ago}}</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="dropdown" style="display: inline">
                                    <button type="button" class="btn btn-light dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" disabled="disabled" id="reportChooser">
                                        {{currentCollectionName}}
                                    </button>
                                    <div class="dropdown-menu">
                                        <h6 class="dropdown-header">Select context collection</h6>
                                        <div v-for="collection in currentReport.ContextCollections">
                                            <span class="dropdown-item" v-on:click="loadCollection(collection.Name)"><i class="fa-table fa text-muted"></i> {{collection.Name}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div v-if="currentReport.Id > 0">
                                <table class="table">
                                    <tbody>
                                        <tr v-for="prop in currentCollection.Properties">
                                            <td>{{prop.Key}}</td>
                                            <td>{{prop.Value}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <hr />
                                <em>
                                    <router-link :to="{ name: 'analyzeReport', params: { reportId: currentReport.Id, incidentId: incident.Id}}">View entire report</router-link> |
                                    <a href="#">Browse all reports</a>
                                </em>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>


<style src="./Incident.css" />
<script src="./Incident.ts"></script>