<div class="row">
    <div class="col-lg-12">
        <div class="card-box">
            <h2>Create application</h2>
            <p>
                You need to start by creating an application. It corresponds to a specific binary in your project.
            </p>
            <p>
                For a client/server applications you might want to track errors for the server and client separately. To do so you need to create two applications in codeRR. For instance one named "YourProduct.Server" and one named "YourProduct.WpfClient".
            </p>

            <form method="POST" action="#" id="create-onboarding-application" class="form">
                <div class="form-group">
                    <label for="ApplicationName">Name</label>
                    <input type="text" class="form-control" id="ApplicationName" name="ApplicationName" value="" placeholder="Enter application name">
                </div>
                <div class="form-group">
                    <label for="TypeOfApplication">Host type</label>
                    <select class="form-control" name="TypeOfApplication" id="TypeOfApplication">
                        <option value=""></option>
                        <option value="Mobile">Mobile device</option>
                        <option value="DesktopApplication" selected="selected">Desktop PC</option>
                        <option value="Server">Server</option>
                    </select>
                </div>
                <div class="form-group">
                    <button class="btn btn-info btn-lg">Create application</button>
                </div>
            </form>
            <p>
                <em>You can at any time get support by choosing 'support' in the top right <i class="fa fa-cog"></i> menu.</em>
            </p>
        </div>
    </div>
</div>
