<style>
    .sexy > div {
        display: inline !important;
    }

    .facts table td {
        padding-left: 10px;
    }

    .facts td:first-child {
        white-space: nowrap;
        text-align: right;
    }

    .facts td:last-child {
        width: 99%;
    }
</style>
<div id="IncidentView">
    <div class="row m-b-10">
        <div class="col-sm-6">
        </div>
        <div class="col-sm-6">
            <div class="pull-right">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Incident menu
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <h6 class="dropdown-header">Browse information</h6>
                        <a class="dropdown-item" href="#/application/:applicationId/incident/:incidentId/feedback" data-title="View comments from users">
                            <span class="fa fa-comment"></span> Feedback (from users)
                        </a>
                        <a class="dropdown-item" href="#/application/:applicationId/incident/:incidentId/context" data-title="See what all error reports had in common">
                            <span class="fa fa-line-chart"></span> Report similarities
                        </a>
                        <a class="dropdown-item" href="#/application/:applicationId/incident/:incidentId/origins" data-title="See where the reports are from (geographically)">
                            <span class="fa fa-globe"></span> Report origins
                        </a>
                        <h6 class="dropdown-header">Actions</h6>
                        <a class="dropdown-item" id="assignToMe" data-title="Assign incident to yourself" data-if="IsNew">
                            <span class="fa fa-share"></span> Assign to me
                        </a>
                        <a class="dropdown-item" href="#/application/:applicationId/incident/:incidentId/close" data-title="This incident have been corrected and should not generate any more reports" data-unless="IsSolved">
                            <span class="fa fa-check"></span> Close
                        </a>
                        <a class="dropdown-item" href="#/application/:applicationId/incident/:incidentId/ignore" data-title="Do not trigger notifications or show this incident as active, no matter how many reports it receive." data-unless="IsIgnored">
                            <span class="fa fa-pause"></span> Ignore
                        </a>
                        <a id="reopenBtn" class="dropdown-item" href="#/application/:applicationId/incident/:incidentId/reopen" data-title="Do not trigger notifications or show this incident as active, no matter how many reports it receive." data-if="IsIgnored,IsSolved">
                            <span class="fa fa-play"></span> Reopen
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row sexy">
        <div class="col" style="max-width: 55%">
            <div data-if="IsSolved" class="card-box">
                <h4 class="text-muted">Solution</h4>
                <div data-name="Solution"></div>
            </div>

            <div class="card-box">
                <h4 class="text-muted">Stacktrace</h4>
                <pre style="padding: 20px 10px 20px 10px; text-wrap: normal; max-width: 100%; max-height: 50vh; overflow: scroll"><code data-name="StackTrace"></code></pre>
            </div>
        </div>
        <div class="col">
            <div class="card-box tilebox-two facts">
                <h4 class="text-muted">Quick facts</h4>
                <table class="w-100">
                    <tbody data-collection="Facts">
                    <tr>
                        <td><span data-name="Title"></span> <span data-name="Description" class="fa fa-info-circle text-info"></span></td>
                        <td data-name="Value"></td>
                    </tr>
                    </tbody>
                </table>
                <hr/>
                <div data-collection="Tags">
                    <a data-name="[]" class="" href=""></a>
                </div>
            </div>
            <div class="card-box">
                <div id="legend" class="text-center">
                    <h4 class="header-title m-b-20">Report trend</h4>
                </div>
                <div>
                    <div id="myChart" style="height: 200px"></div>
                </div>
                <div class="text-center">
                    <form id="refresh-chart">
                        <input type="radio" name="range" value="30" checked="checked" /> month
                        <input type="radio" name="range" value="7" /> week
                        <input type="radio" name="range" value="1" /> day
                    </form>
                </div>
            </div>

        </div>

    </div>

    <div class="row">
        <div class="col-lg-12">
            <h4 id="Reports">Reports</h4>
            <div class="card-box">
                <table id="reportsTable" class="table table-striped">
                    <thead>
                        <tr>
                            <th>Message</th>
                            <th>Reported at (UTC)</th>
                            <th>Ip address</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody data-collection="Items">
                        <tr>
                            <td>
                                <a href="" data-name="Message"></a>
                            </td>
                            <td data-name="CreatedAtUtc"></td>
                            <td data-name="RemoteAddress"></td>
                            <td></td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="5" id="pager"></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
