@model OneTrueError.Web.Areas.Admin.Models.BasicsViewModel
@{
    ViewBag.Title = "Admin - Basics";
}
<div class="container">
    <div class="col-lg-6">

        <h2>Base configuration</h2>
        <form method="post" action="@Url.Action("Basics")" style="width: 100%" class="form">
            @Html.ValidationSummary(false)
            <div class="form-group">
                <label class="control-label">
                    Base URL
                </label>
                <input type="url"
                       name="BaseUrl" class="form-control" value="@Model.BaseUrl" placeholder="http://yourhostName"/>
                <small>Address used when visiting this site.</small>
            </div>
            <div class="form-group">
                <label for="SupportEmail">
                    Email address
                </label>
                <input type="email" id="SupportEmail" name="SupportEmail" class="form-control" value="@Model.SupportEmail"/>
                <small>Used by your users when they need support using OneTrueError, for instance for account troubles. Also used as sender in outbound emails.</small>
            </div>
            <br/>
            <input type="submit" class="btn btn-primary" value="Save"/>
        </form>
    </div>
</div>
