@{
    ViewBag.Title = "Adminarea - start page";
}
<div class="container">
    <div class="col-lg-6">

        <h2>Administration area</h2>

        <p>Welcome to the OneTrueError admin area.</p>
        <p>
            Most of the settings are stored in the <code>Settings</code> table in the database.
        </p>
        <br/>
    </div>
</div>