@using Coderr.Server.Web2.Models.Accounts
@model Coderr.Server.Web2.Models.Accounts.RequestPasswordResetViewModel

@{
    ViewBag.Title = "Request password reset";
}
<div class="card">
    <div class="card-header">
        Reset password
    </div>
    <div class="card-body">


        @using (Html.BeginForm("RequestPasswordReset", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()

            <em>
                Enter your email address to get instructions sent to your inbox.
            </em>
            @Html.ValidationSummary(true)

            <div class="form-group">
                <input type="text" id="Username" placeholder="Email" name="EmailAddress" class="form-control">
                @Html.ValidationMessageFor(model => model.EmailAddress)
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Reset password</button>
                @Html.ActionLink("Back to login", "Login", null, new { @class = "btn" })

            </div>

        }
    </div>
</div>
