@{
    ViewBag.Title = "Account created";
}

<h2>Account created</h2>
<div class="alert alert-success">We've sent an activation email to your email address. Click on the activation link in the email.</div>

<!-- Google Code for Registreringar Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
    var google_conversion_id = 1029996736;
    var google_conversion_language = "en";
    var google_conversion_format = "3";
    var google_conversion_color = "ffffff";
    var google_conversion_label = "yuKYCKv_s1YQwIGS6wM";
    var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">

</script>
<noscript>
    <div style="display: inline;">
        <img height="1" width="1" style="border-style: none;" alt="" src="//www.googleadservices.com/pagead/conversion/1029996736/?label=yuKYCKv_s1YQwIGS6wM&amp;guid=ON&amp;script=0"/>
    </div>
</noscript>