@{
    ViewBag.Title = "ApiKey is deleted";
}


<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2>Api key</h2>
            <div class="panel panel-body panel-success">The ApiKey has been deleted.</div>
        </div>
    </div>
</div>