@model Coderr.Server.WebSite.Areas.Installation.Models.ErrorTrackingViewModel
@{
    ViewBag.Title = "Installation - Error tracking";
}
<div class="container">
    <div class="col-lg-12">

        <h2>Error tracking</h2>
        <p>
            We have activated Coderr in the Community Server to send us bugs as they occur. It is our own way to practice what we preach about error handling and helps us to correct our code faster. Further, with rich context information provided by Coderr, it enables us understand the error better.
        </p>
        <p>
            If you want to receive notification when the errors in your installation have been corrected, please provide an email address.
        </p>
        <form method="post" action="@Url.Action("Errors")">
            @Html.ValidationSummary(false)
            <div class="form-group">
                <label asp-for="ContactEmail"></label>
                <input asp-for="ContactEmail" type="email" class="form-control" placeholder="Your email address" />
            </div>
            <br />
            @Html.Raw(ViewBag.PrevLink)
            <button type="submit" class="btn btn-primary">Save</button>
            @Html.Raw(ViewBag.NextLink)
        </form>
    </div>
</div>
