<template>
    <div class="mt-4">
        <div class="row align-content-center">

            <div class="col-lg-8">
                <form @submit.prevent="createApplication" id="createAppForm">
                    <div class="card">
                        <div class="card-header">Create application</div>
                        <div class="card-body">
                            <div class="form-group">
                                <label>
                                    Name
                                </label>
                                <input type="text" class="form-control" placeholder="Application name" v-model="applicationName" required="required" autofocus="autofocus" />
                            </div>
                            <div class="">
                                <h3>Optional information</h3>
                                <p>
                                    <em>
                                        Specify the information below to see how your team compares to other similar teams.<br />(Do you have more errors? Are you correcting more or less errors than other teams?)
                                    </em>
                                </p>
                                <div class="form-group">
                                    <label>
                                        Number of full time developers
                                    </label>
                                    <input type="number" step="0.5" class="form-control" name="NumberOfDevelopers" v-model="numberOfDevelopers" placeholder="1.5" />
                                    <em>How many full time developers are working with this application? "2" corresponds either to two full time developers or four developers that work half time.</em>
                                </div>
                                <div class="form-group">
                                    <label>
                                        Estimated number of errors
                                    </label>
                                    <input type="number" class="form-control" name="NumberOfErrors" v-model="estimatedNumberOfErrors" placeholder="1337" />
                                    <em>Estimation of how many errors you think that Coderr will find during the first month for this application. See how well you know your application.</em>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Create application" class="btn btn-primary" :disabled="disableButton" />
                            </div>
                            <div class="alert-info" v-if="disableButton">
                                <em>Hang on, creating application..</em>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</template>


<style src="./create.css"></style>
<script src="./create.ts"></script>