<div class="row">
    <div class="col-lg-12">
        <div class="card-box">
            <div class="row">
                <div class="col-lg-6">
                    <h3>Team members</h3>
                    <p>Members who can see and work with the application.</p>
                    <table class="table table-striped">
                        <thead class="thead-inverse">
                            <tr>
                                <th>Name</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody data-collection="Members">
                            <tr>
                                <td data-name="UserName"></td>
                                <td>
                                    <input type="hidden" name="UserId" />
                                    <a href="#" data-name="RemoveUser"><i class="zmdi zmdi-delete text-danger zmdi-hc-2x"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <p data-unless="Members">
                        No team members have been specified for this project.
                    </p>
                </div>
                <div class="col-lg-6">
                    <h3>Pending invites</h3>
                    <p>Users that have been invited but not yet accepted the invitation.</p>
                    <div data-collection="Invited">
                        <div data-name="EmailAddress"></div>
                    </div>
                    <p data-unless="Invited">
                        <em>No pending invitations.</em>
                    </p>
                    <div class="pull-right">
                        <button id="ShowInviteDlg" class="btn btn-primary">Invite</button>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="push-lg-6 col-lg-6 col-md-12">

                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="inviteUserDlg">
    <form method="POST" action="">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Invite user</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="emailAddress">Email address</label>
                        <input type="email" class="form-control" id="emailAddress" placeholder="Email address to invited">
                    </div>
                    <div class="form-group">
                        <label for="reason">Message</label>
                        <textarea class="form-control" id="reason" placeholder="[optional] I'd like to invite you to the super awesome service codeRR."></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" data-dismiss="modal" id="InviteUserBtn">Invite</button>
                </div>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    $('#ShowInviteDlg')
        .on('click',
        function () {
            $('#inviteUserDlg').modal('show');
        })
</script>
