<div id="View">
    <div data-collection="Items">
        <div style="cursor: inherit; background-color: #9b59b6; color: white; display: inline-block; padding: 10px; min-width: 400px; min-height: 150px; text-align: center; float: left; margin: 0 20px 20px 0; max-width: 800; overflow-x: auto;">
            <div data-name="Title"></div>
            <div class="tile-content" data-name="Message" style="text-align: left; padding-top: 20px; padding-bottom: 10px;">

            </div>
            <a href="" data-name="EmailAddress"></a>
        </div>
    </div>
    <div data-unless="Items">
        <p>
            There is currently no user feedback.
        </p>
    </div>

</div>
<div class="clearfix"></div>
<ul data-navigation="main-navigation">
    <li><a href="#/">Back..</a></li>
    <li><a href="#/feedback">Feedback</a></li>
</ul>