<div id="View">
    <div data-collection="Items">
        <div style="background-color: #9b59b6; color: white; cursor: inherit; display: inline-block; float: left; margin: 0 20px 20px 0; max-width: 800; min-height: 150px; min-width: 400px; overflow-x: auto; padding: 10px; text-align: center;">
            <div data-name="Title"></div>
            <div class="tile-content" data-name="Message" style="padding-bottom: 10px; padding-top: 20px; text-align: left;">

            </div>
            <a href="" data-name="EmailAddress"></a>
        </div>
    </div>
    <div data-unless="Items">
        <p>
            There is currently no user feedback.
        </p>
    </div>

</div>
<div class="clearfix"></div>
<ul data-navigation="main-navigation">
    <li>
        <a href="#/">Back..</a>
    </li>
    <li>
        <a href="#/feedback">Feedback</a>
    </li>
</ul>