@{
    ViewBag.Title = "Installation - First step";
}
<div class="container">
    <div class="col-lg-6">

        <h2>Welcome</h2>

        <p>Welcome to the OneTrueError installation.</p>
        <p>
            This guide will install everything neccesary to get started. Most of the settings are stored in the <code>Settings</code> table in the database.
        </p>


        @Html.Raw(ViewBag.NextLink)
        <br/>
    </div>
</div>