.onboarding-view hr {
  color: #eaeaea;
  background: #eaeaea;
}

.onboarding-view .selected {
  background: #59c1d5 !important;
  color: #333 !important;
}

.onboarding-view .selected strong, .onboarding-view .selected p {
  color: #333 !important;
}
