<template>
    <div id="IncidentSearchView" class="main-view" style="padding-top: 20px">
        <div class="row" style="padding-left: 20px;padding-right: 20px">
            <div class="col">
                <div class="float-right">
                    <div class="btn-group" role="group">
                        <a class="btn btn-blue shadow" href="#" v-if="incident.IncidentState == 0" v-on:click.prevent="assignToMe">Assign to me</a>
                        <div class="dropdown" style="display: inline-block">
                            <button class="btn btn-white shadow dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#" v-if="incident.IncidentState == 0" v-on:click.prevent="assignToSomeoneElse">Assign to ..</a>
                                <a class="dropdown-item" href="#" v-if="!isClosed && !isIgnored" v-on:click.prevent="ignore">Ignore</a>
                                <a class="dropdown-item" href="#" v-if="!isClosed" v-on:click.prevent="close">Close</a>
                                <a class="dropdown-item" href="#" v-on:click.prevent="deleteIncident">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
                <h3 class="text-gray">{{incident.Description}} <small class="text-gray4">[{{incident.FullName}}]</small></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 m-0">
                <div class="card">
                    <div class="card-header">
                        Report history
                      
                    </div>
                    <div class="card-body">

                        <div class="position-relative">
                            <div class="ct-chart incident-chart">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <div class="card p-0 m-0" style="margin-left: 20px !important">
                    <div class="card-header">
                       Stack trace
                    </div>
                    <div class="card-body">

                        <div v-if="highlights.length > 0" class="p-3">
                            <table class="w-100">
                                <tr v-for="high in highlights">
                                    <th>{{high.name}}</th>
                                    <td style="width: 100%">{{high.value}}</td>
                                </tr>
                            </table>
                        </div>

                        <pre><code>{{incident.StackTrace}}</code></pre>
                        <div class="tags">
                            <span v-for="tag in incident.Tags" class="badge badge-dark">{{tag}}</span>
                            <span class="badge badge-dark" v-if="isIgnored">incident-ignored</span>
                            <span class="badge badge-dark" v-if="isClosed">incident-closed</span>
                        </div>
                    </div>

                </div>
                <context-navigator :incidentId="incidentId" style="margin-right: 0"/>

            </div>
            <div class="col-lg-4">
                <div class="card p-0 m-0" style="margin-right: 20px !important;">
                    <div class="card-header">
                        Quick facts
                    </div>
                    <div class="card-body">
                        <table class="table th-vertical">
                            <tr v-for="fact in incident.Facts">
                                <th>{{fact.Title}}</th>
                                <td><span v-html="fact.Value"></span></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div id="assignToModal" style="display: none">
            <div class="modal-body">
                <div v-for="user in team" class="mb-2">
                    <button class="btn btn-primary btn-block" v-on:click.prevent="assignTo(user.id, $event)" :value="user.id" data-dismiss="modal">
                        {{user.name}}
                    </button>
                </div>
            </div>
        </div>
        <div id="CloseBody" style="display: none">
            <textarea id="CloseArea" class="w-100" rows="10" placeholder="How did you solve the error?" autofocus="autofocus"></textarea>
            <input type="text" name="version" class="form-control mb-3" size="10" placeholder="Which version is the error corrected in? (format: 1.2.10)" pattern="[0-9\.]*" title="You can use semantic versioning, including pre-releases, but must specify the release version here."/>
            <div>
                <em data-target="footerHint"><a href="https://coderr.io/documentation/features/incidents/close/">Learn more about this feature</a></em>
                <em class="float-right"><router-link :to="{name: 'closeIncident', params: { incidentId: incidentId }}">Go to full screen editor</router-link></em>
            </div>
        </div>
    </div>
</template>


<style src="chartist/dist/chartist.css"></style>
<style src="./Incident.css"></style>
<script src="./Incident.ts"></script>