
#SearchOptions label {
    color: #59C1D5;
}

.tags button, .apps button {
    margin-right: 5px;
    margin-bottom: 5px;
}

.more {
    display: none;
}

.sortable {
    cursor: pointer;
}

div.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 128px;
    height: 128px;
    margin-left: -64px; /* Half the width */
    animation: sk-rotateplane 4s infinite ease-in-out;
}


@keyframes sk-rotateplane {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    }

    25% {
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    }

    50% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }

    75% {
        transform: perspective(120px) rotateX(0deg) rotateY(-179.9deg);
    }
}

.sort-ascending {
}

#searchTable {
    margin-bottom: 20px;
}

    #searchTable th {
        font-weight: normal;
        color: white;
    }

    #searchTable tbody td a {
        color: #666666;
        text-decoration: underline;
    }

    #searchTable tbody td {
        color: #666666;
    }

#SearchOptions * {
    font-size: 0.7rem !important;
    text-transform: inherit;
}

#SearchOptions label {
    font-size: 1rem !important;
}

#SearchOptions .form-group {
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
}

    #SearchOptions .form-group:first-child {
        margin-left: 0;
    }

#SearchOptions input {
    display: inline !important;
    width: inherit;
    height: calc(0.875rem + 14px);
    font-size: 0.875rem;
    padding: 2px 4px;
    border: 0;
    line-height: 1.5;
}

#SearchOptions .btn {
    background-color: #abdbe7;
    color: #000;
    border: 2px solid white;
}

    #SearchOptions .btn.active {
        color: white;
        background-color: #59C1D5;
        border: 2px solid #59C1D5;
    }

#IncidentSearchView .form-group {
    max-width: 16%;
}

#IncidentSearchView .context.form-group {
    max-width: 25vw;
}


#SearchOptions button[type=submit] {
    background-color: #59C1D5;
    box-shadow: 0px 3px 6px #ccc;
    font-size: 1.3em;
    color: white;
    padding: 10px 20px;
    border: 0;
    text-transform: uppercase;
}

@media screen and (max-width: 1600px) {
    #IncidentSearchView .context.form-group {
        max-width: 20vw;
    }
}

@media screen and (max-width: 1400px) {
    #IncidentSearchView .context.form-group {
        max-width: 15vw;
    }
}
