
#SearchOptions label {
    color: #59C1D5;
}

.tags button, .apps button {
    margin-right: 5px;
    margin-bottom: 5px;
}

.more {
    display: none;
}

.sortable {
    cursor: pointer;
}

.sort-ascending {

}

#searchTable {
    margin-bottom: 20px;
}
#searchTable th {
    font-weight: normal;
    color: white;
}

#SearchOptions * {
    font-size: 0.7rem !important;
    text-transform: inherit;
}

#SearchOptions label {
    font-size: 1rem !important;
}

#SearchOptions .form-group {
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
}

    #SearchOptions .form-group:first-child {
        margin-left: 0;
    }

#SearchOptions input {
    display: inline !important;
    width: inherit;
    height: calc(0.875rem + 14px);
    font-size: 0.875rem;
    padding: 2px 4px;
    border: 0;
    line-height: 1.5;
}

#SearchOptions .btn {
    background-color: #59C1D5;
    color: white;
    border: 0;
    opacity: 0.6;
    border: 2px solid white;
}

    #SearchOptions .btn.active {
        opacity: 1;
        border: 2px solid #59C1D5;
    }

#IncidentSearchView .form-group {
    max-width: 16%;
}

#IncidentSearchView .context.form-group {
    max-width: 25vw;
}


#SearchOptions button[type=submit] {
    opacity: 1;
    box-shadow: 0px 3px 6px #ccc;
    padding: 10px 20px;
    border: 0;
    text-transform: uppercase;
}

@media screen and (max-width: 1600px) {
    #IncidentSearchView .context.form-group {
        max-width: 20vw;
    }
}

@media screen and (max-width: 1400px) {
    #IncidentSearchView .context.form-group {
        max-width: 15vw;
    }
}