<template>
    <div class="row m-2">
        <div class="col" v-for="suggestion in suggestions">
            <div class="card">
                <div class="card-header">
                    {{ suggestion.incidentName }} <span class="text-muted">[{{suggestion.exceptionType}}]</span>
                </div>
                <div class="card-body">
                    <strong>Criteria: </strong>
                    {{suggestion.reason}}
                    <div v-if="!applicationId">
                        Reported for: <router-link :to="{name: 'discoverApplication', params: {applicationId: suggestion.applicationId}}">{{suggestion.applicationName}}</router-link>
                    </div>
                    <hr/>
                    <button class="btn btn-primary" v-on:click.prevent="assignToMe(suggestion.incidentId)">Assign to me</button>
                    <router-link :to="{name: 'suggestIncident', params: {applicationId: suggestion.applicationId, incidentId: suggestion.incidentId}}" cslass="btn btn-light">View</router-link>
                </div>
            </div>
        </div>
        <div class="col" v-if="showEmpty">
            <h2>We got no suggestions</h2>
            <p class="lead">Report a few exceptions to get suggestions here. </p>
            <p>Read our <a href="https://coderr.io/documentation/?utm_source=oss">reporting guide</a> to take full advantage of Coderr.</p>
        </div>
    </div>
</template>


<style src="./suggestions.css"></style>
<script src="./suggestions.ts"></script>